<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__STATIC__/style/reset.css">
	<link rel="stylesheet" href="__STATIC__/style/member.css">
	<script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/carousel.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>

	<title>我的订单</title>
    <style>
        #page a{
            display: inline-block;
            width: 18px;
            height:18px;
            padding:5px;
            margin: 2px;
            text-decoration: none;
            text-align: center;
            line-height: 18px;
            border: 1px solid #c2ccd1;
            background: #f0ead8;
            color:#373737;
        }
        #page a:hover{
            background:#00c0ef;
            color:#333;
        }
        #page span.current{
            display: inline-block;
            width: 18px;
            height:18px;
            padding:5px;
            margin: 2px;
            text-decoration: none;
            text-align: center;
            line-height: 18px;
            border: 1px solid #c2ccd1;
            background: #0088ff;
            color:#fff;
            font-weight: bold;
        }
    </style>
</head>
<body>

<include file="Index/header" />

<!-- 导航开始 -->
<div class="car clearfix frm_sty">
    <div class="sidebar frm_sty">
        <!-- 侧边栏导航 结束 -->
        <ul class="fl">
            <li class="li01" style="background: #f1f1f1;"><a href="#"><span>全部功能</span></a></li>
            <!--<li class="no"><a href="membercenter.html">会员中心</a></li>-->
            <li><a href="{:U('MemberCenter/orderlist')}">我的订单</a></li>
            <!--<li><a href="#">我的优惠卷</a></li>-->
            <!--<li><a href="#">商品收藏</a></li>-->
            <li><a href="{:U('MemberCenter/jifen')}">我的积分</a></li>
            <!--<li><a href="{:U('MemberCenter/returngoods')}">退换货申请</a></li>-->
            <li><a href="{:U('Member/memberinfo')}">个人消息</a></li>
            <li><a href="{:U('MemberCenter/address')}">收货地址</a></li>
            <!--<li class="li02"><a href="#">在线客服</a></li>-->
        </ul>
    </div>
	<!-- 侧边栏导航 结束 -->

	<div class="manage fl">
	<!-- 账户信息 开始 -->
		<div class="account">
			<h3>你好<a href="#"><span>{$Think.session.mname}</span></a>，欢迎登录苗家频道！</h3>
			<ul>
				<li><a href="#">所在城市:郑州</a></li>
				<!--<li><a href="#">你当前积分:<span>{$count}</span>分</a></li>
				<li><a href="#">优惠劵:<span>{$count}</span>张</a></li>-->
				<!--<li class="li04"><a href="#">待付款（<span>0</span>）</a></li>
				<li class="li05"><a href="#">待收货（<span>0</span>）</a></li>
				<li class="li06"><a href="#">待评价（<span>0</span>）</a></li>-->
				<li><a href="#">账户余额:<span>￥{$yue}</span></a></li>
				<li><a href="{:U('MemberCenter/chongzhi')}">充值</a></li>
			</ul>
		</div>
	<!-- 账户信息 结束 -->
	<!-- 订单信息 开始 -->
		<div class=" order">
			<div class="title">
             <!-- <ul >
                    <li style="float:left; margin-left: -50px;">商品图片</li>
                    <li style="float:left;">商品价格</li>
                    <li style="float:left;">订单号</li>
                    <li style="float:left;">订单状态</li>
                    <li style="float:left;">操作</li>

                </ul>-->
				<h3>我的订单<span style="margin-right: 50px;">操作</span><span style="margin-right: 150px;">状态</span><span style="margin-right: 150px;">订单号</span><span style="margin-right: 200px;">价格</span></h3>


			</div>
            <volist name="orderlist" id="val">
			<ul class="clearfix">
				<li>
					<a href=""><img src="__ROOT__/Uploads/60_{$val.picname}" alt="" class="fl" ></a>
					<!--<p class="p1" style="margin-left: 50px;"><a href="#">叶叶</a></p>-->
					<p class="p2"><span>￥{$val['buynum']*$val['price']}</span> <br/>在线支付</a></p>
					<!--<p class="p3">{:date('Y-m-d',$val['createtime'])}</a></p>-->
					<p class="p3">{$val.ordersyn}</a></p>
					<p class="p3">{$val.orderstatus}</p>
					<p class="p3"> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('MemberCenter/chakan')}?oid={$val.orderid}">查看</a>&nbsp;&nbsp;<a href="{:U('MemberCenter/del')}?oid={$val.orderid}" onclick="return confirm('你确定要删除吗？')" id="del">删除</a></p>
				</li>
			</ul>
            </volist>

           <!-- <div style="position:relative;left: 1250px;margin-bottom: 100px; margin-top: 50px;">-->

            <div id="page" style="margin-left: 500px; margin-top: 20px;margin-bottom: 20px;">
                {$show}
            </div>

		</div>


	<!-- 订单信息 结束 -->
	<!-- 我的关注 开始 -->
		<div class="attention clearfix">
			<div class="title">
				<h3>我的关注</h3>
			</div>
			<ul>
				<li class="li01">
					<a href="#">
						<p class="p1"></p>
						<p class="p2">苗族农家自制萝卜<br/>干 细干萝卜条</p>
					</a>
				</li>
				<li class="li02">
					<a href="#">
						<p class="p1"></p>
						<p class="p2">苗家烟熏肉</p>
					</a>
				</li>
				<li class="li03">
					<a href="#">
						<p class="p1"></p>
						<p class="p2">苗家特色农家<br/>糯米酒</p>
					</a>
				</li>
				<li class="li04">
					<a href="#">
						<p class="p1"></p>
						<p class="p2">苗家无色板</p>
					</a>
				</li>
				<li class="li05">
					<a href="#">
						<p class="p1"></p>
						<p class="p2">农家自制腌制<br/>泡菜</p>
					</a>
				</li>
			</ul>
		</div>
	<!-- 我的关注 结束 -->
	<!-- 浏览记录 开始 -->
		<div class="record">
			<div class="title">
				<h3>浏览记录</h3>
			</div>
			<div class="lb">
				<ul class="lb-img">
					<li>
						<ul>
							<li class="li01">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家烟熏肉</p>
								</a>
							</li>
							<li class="li02">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家纯手工制<br/>作状元帽</p>
								</a>
							</li>
							<li class="li03">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家特色农家<br/>糯米酒</p>
								</a>
							</li>
							<li class="li04">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家天然晒制<br/>干木耳</p>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="li01">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家烟熏肉</p>
								</a>
							</li>
							<li class="li02">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家纯手工制<br/>作状元帽</p>
								</a>
							</li>
							<li class="li03">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家特色农家<br/>糯米酒</p>
								</a>
							</li>
							<li class="li04">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家天然晒制<br/>干木耳</p>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="li01">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家烟熏肉</p>
								</a>
							</li>
							<li class="li02">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家纯手工制<br/>作状元帽</p>
								</a>
							</li>
							<li class="li03">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家特色农家<br/>糯米酒</p>
								</a>
							</li>
							<li class="li04">
								<a href="#">
									<p class="p1"></p>
									<p class="p2">苗家天然晒制<br/>干木耳</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="btn_l">&lt;</div>
        		<div class="btn_r">&gt;</div>

			</div>
		</div>
	<!-- 浏览记录 结束 -->
	</div>
</div>
<div class="jilu frm_sty clearfix">
	<div class="title">
		<h3>浏览记录</h3>
	</div>
	<ul>
		<li class="li01">
			<a href="#">
				<p class="p1"></p>
				<p class="p2">苗族农家自制萝卜<br/>干 细干萝卜条</p>
			</a>
		</li>
		<li class="li02">
			<a href="#">
				<p class="p1"></p>
				<p class="p2">苗族农家自制萝卜<br/>干 细干萝卜条</p>
			</a>
		</li>
		<li class="li03">
			<a href="#">
				<p class="p1"></p>
				<p class="p2">苗族农家自制萝卜<br/>干 细干萝卜条</p>
			</a>
		</li>
		<li class="li04">
			<a href="#">
				<p class="p1"></p>
				<p class="p2">苗族农家自制萝卜<br/>干 细干萝卜条</p>
			</a>
		</li>
		<li class="li05">
			<a href="#">
				<p class="p1"></p>
				<p class="p2">苗族农家自制萝卜<br/>干 细干萝卜条</p>
			</a>
		</li>
		<li class="li06">
			<a href="#">
				<p class="p1"></p>
				<p class="p2">苗族农家自制萝卜<br/>干 细干萝卜条</p>
			</a>
		</li>
	</ul>
</div>


<!-- 底部 开始 -->
<include file="Public/Home/footer.html" />
<!-- 底部结束 -->
</body>

<!--<script>
    $("#del[]").click(function(){
       layer.confirm('你确定要删除吗',{btn:['确定','取消']},function(){
          // layer.msg('xxx')
           location.href="{:U('MemberCenter/del')}?oid={$val.oid}"
       })
    })



</script>-->
</html>





