<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>用户登录</title>
    <script src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__STATIC__/js/all.js"></script>
    <script src="__STATIC__/js/layer/layer.js"></script>
    <script src="__STATIC__/js/jquery.form.js"></script>
    <script src="__STATIC__/js/jquery.validate.js"></script>
    <link rel="stylesheet" href="__STATIC__/style/headerAndFooter.css"/>
    <link rel="stylesheet" href="__STATIC__/style/entry.css" />
    <link rel="stylesheet" href="__STATIC__/style/reset.css" />
    <style>
        input.error { border: 1px solid #EA5200;background: #ffdbb3;}
        label.error{

            color:#ff0300;
            font-weight: bold;
            font-size: 13px;
        }

    </style>

</head>

<body>
<!--头部>
<include file="Public/header"/>
<!-->


<div class="outside">
    <div class="inside">
        <div class="left clearfix">
        </div>
        <div class="right clearfix">
            <h2>用户登录</h2>
            <form action="{:u('User/login')}" method="post" id="form1" enctype="multipart/form-data">
                <p><input type="text" id="t1" name="name" placeholder="请输入用户名" /><br/></p>
                <p><input type="password" id="t2" placeholder="请输入密码" name="mm"/><br /></p>
                <input type="text" id="t3" placeholder="请输入验证码" name="verify"/><div></div>
                <h4 style="position: relative;top:-68px;">
                    <img src="{:u('verify')}" id="verify" alt="verify" style="height:35px;width:80px"
                         onclick="this.src='{:u(\'verify\',array(\'id\'=>mt_rand()))}'"/>
                </h4>
                <div style="position: relative;top:-40px;" class="input">
                    <input type="button" value="登录" id="input"/>
                </div>
            </form>

            <h4>没有账号？<span><a href="{:u('User/register')}">免费注册</a></span></h4>
            <h5><a href="#">忘记密码?</a></h5>
        </div>
    </div>
</div>
<!-- footer开始 -->
<include file="Public/footer"/>
<!-- footer结束 -->
</body>
<script type="text/javascript">
    $(function(){
        var validate=$("#form1").validate({
            //设置验证规则
            rules:{
                name:{
                    required:true,
                    minlength:3,
                    maxlength:15,
                    remote:{
                        url:"{:u('User/test2')}",
                        type:'post'
                    }

                },
                mm:{
                    required:true,
                    minlength:3,
                    maxlength:15
                },
                verify:{
                    required:true,
                    remote:{
                        url:"{:u('User/checkVerify')}",
                        type:'post'
                    }
                }
            },
            //设置提示信息
            messages:{
                name:{
                    required:'用户名不能为空',
                    minlength:'用户名至少为3个字符',
                    maxlength:'用户名最多不能超过15个字符',
                    remote:'该用户不存在'


                },
                mm:{
                    required:'密码不能为空',
                    minlength:'密码长度至少为3个字符',
                    maxlength:'密码最多不能超过15个字符'
                },
                verify:{
                    required:'请输入验证码',
                    remote:'验证码不正确'
                }
            },

            /*  success:function(label){
             label.addClass("ok");
             },
             validClass:"ok",*/

            errorPlacement:function(error,element){
                error.appendTo(element.parent());
            }

        });

        jQuery.validator.onfocus=true;

        $('#input').click(function(){
            if(validate.form()){
                $.post("{:U('Home/User/login')}",$('#form1').serialize(),function(res){
                    if(res.status=='ok'){
                        layer.msg(res.msg,{
                            icon: 1,
                            time: 1000
                        },function(){
                            if(res.gid==0){
                                location.href="{:U('Home/Mycar/mycar')}";
                            }else if(res.gid>0){
                                location.href="{:U('Home/Index/detail')}"+'?gid='+res.gid;

                            }else{
                                location.href="{:U('Home/Index/index')}";
                            }
                        });
                    }else{
                        layer.msg(res.msg,{
                            icon: 2,
                            time: 1000
                        });

                    }
                })
            }

        })

    })
</script>
</html>

