<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/colResizable-1.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/cjyy/layer/layer.js"></script>
    <script type="text/javascript" src="__URL__/cjyy/jquery.validate.js"></script>
    <script type="text/javascript" src="__URL__/cjyy/jquery.form.js"></script>
    <script type="text/javascript" src="__URL__/cjyy/uploadPreview.js"></script>
    <script type="text/javascript" src="__URL__/cjyy/upImg60.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/kindeditor/kindeditor-all.js"></script>
    <style>
    .cn{
        color: #4c6f8c;
        font-weight: bold;
    }
    .picc{
        float: left;
        margin:5px;

    }
    .selectImg{
        display: block;
        width:60px;
        height:23px;
        line-height:23px;
        margin:0px;
        padding:3px 5px;
        border:1px solid #ccc;
        border-radius:5px;
        background: #1B75B6;
        font-size:13px;
        text-align:center;
        color:#fff;
    }
</style>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <!-- 头部开始 -->
    <tr>
        <td width="17" valign="top" background="__URL__/Images/mail_left_bg.gif">
            <img src="__URL__/Images/left_top_right.gif" width="17" height="29" />
        </td>
        <td valign="top" background="__URL__/Images/content_bg.gif">
            <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="__URL__/Images/content_bg.gif">
                <tr><td height="31"><div class="title">编辑商品</div></td></tr>
            </table>
        </td>
        <td width="16" valign="top" background="__URL__/Images/mail_right_bg.gif"><img src="__URL__/Images/nav_right_bg.gif" width="16" height="29" /></td>
    </tr>
    <!-- 中间部分开始 -->
    <tr>
        <!--第一行左边框-->
        <td valign="middle" background="__URL__/Images/mail_left_bg.gif">&nbsp;</td>
        <!--第一行中间内容-->
        <td valign="top" bgcolor="#F7F8F9">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <!-- 空白行-->
                <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                <tr>
                    <td colspan="4">
                        <table>
                            <tr>
                                <td width="100" align="center"><img src="__URL__/Images/mime.gif" /></td>
                                <td valign="bottom"><h3 style="letter-spacing:1px;">在这里，您可以根据您的需求，填写网站参数！</h3></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- 一条线 -->
                <tr>
                    <td height="40" colspan="4">
                        <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td width="96%">
                        <div id="forms" class="mt10">
                            <div class="box">
                                <div class="box_border">
                                    <div class="box_top"><b class="pl15">编辑商品</b></div>
                                    <div class="box_center">
                                        <form action="{:u('Admin/Goods/editSave')}" id="form1" method="post" enctype="multipart/form-data">
                                            <table class="form_table pt15 pb15" width="80%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="td_right">商品名称：</td>
                                                    <td class=""><input type="text" name="name" class="input-text lh30" size="25" value="{$goods.name}"></td>
                                                </tr>
                                                <tr >
                                                    <td class="td_right">所属分类：</td>
                                                    <td class="">
                                                        <input  type="hidden" name="cid" value="{$goods.cid}"/>
                                                        <input type="text" name="" class="cn lh30" size="10" value="{$goods.catename}" >
                                                    </td>
                                                </tr>
                                                <tr >
                                                    <td class="td_right">所属品牌：</td>
                                                    <td class="">
                                                        <input  type="hidden" name="brandid" value="{$goods.brandid}"/>
                                                        <input type="text" name="" class="cn lh30" size="10" value="{$goods.brandname}" >
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">商城价：</td>
                                                    <td class=""><input type="text" name="price" class="input-text lh30" size="25" value="{$goods.price}"></td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">市场价：</td>
                                                    <td class=""><input type="text" name="marketprice" class="input-text lh30" size="25" value="{$goods.marketprice}"></td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">商品图片：</td>
                                                    <td class="">
                                                        <div class="picc">
                                                            <p id="preview1" ><img id="imghead1"  border=0 src='__ROOT__/upload/n3/{$pics[0]}' alt=""></p><span></span>
                                                            <input type="file" id="image1" name="pic[]" onchange="previewImage(this,'preview1','imghead1')" style="display:none;" >
                                                            <label for="image1"  class="selectImg">选择图片</label>
                                                        </div>
                                                        <div class="picc">
                                                            <p id="preview2" ><img id="imghead2"  border=0 src="" alt=""></p><span></span>
                                                            <input type="file" id="image2" name="pic[]" onchange="previewImage(this,'preview2','imghead2')" style="display:none;" >
                                                            <label for="image2"  class="selectImg">选择图片</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">&nbsp;&nbsp;&nbsp;&nbsp;：</td>
                                                    <td class="">
                                                        <div class="picc">
                                                            <p id="preview3" ><img id="imghead3"  border=0 src="" alt=""></p><span></span>
                                                            <input type="file" id="image3" name="pic[]" onchange="previewImage(this,'preview3','imghead3')" style="display:none;" >
                                                            <label for="image3"  class="selectImg">选择图片</label>
                                                        </div>
                                                        <div class="picc">
                                                            <p id="preview4" ><img id="imghead4"  border=0 src="" alt=""></p><span></span>
                                                            <input type="file" id="image4" name="pic[]" onchange="previewImage(this,'preview4','imghead4')" style="display:none;" >
                                                            <label for="image4"  class="selectImg">选择图片</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">是否上架：</td>
                                                    <td class="" style="height: 30px">
                                                        <input type="radio" name="state" value="1" checked="checked" id="sj"/>
                                                        <label for="sj">上架</label>
                                                        <input type="radio" name="state" value="0" id="xj"/>
                                                        <label for="xj">下架</label>
                                                       </td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">库存数：</td>
                                                    <td class=""><input type="text" name="num" class="input-text lh30" size="25" value="{$goods.num}"></td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">商品描述：</td>
                                                    <td class="">
                                                        <textarea  class="text" type="text"  name="information"  id="ked">
                                                            {$goods.information}
                                                        </textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">&nbsp;</td>
                                                    <td class="">
                                                        <input type="hidden"  value="{$goods.id}" name="id">
                                                        <button type="button" class="ext_btn ext_btn_submit" id="addgood">修&nbsp;改&nbsp;商&nbsp;品</button>
                                                        <button type="reset" name="" class="ext_btn ext_btn_submit" value="重置">重&nbsp;置</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <td width="2%">&nbsp;</td>
                </tr>
                <tr>
                    <td height="40" colspan="4">
                        <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td width="51%" class="left_txt">
                        <img src="__URL__/Images/icon_mail.gif" width="16" height="11"> 客户服务邮箱：rainman@foxmail.com<br />
                        <img src="__URL__/Images/icon_phone.gif" width="17" height="14"> 官方网站：<a href="http://www.rain-man.cn">http://www.rain-man.cn</a>
                    </td>
                    <td>&nbsp;</td><td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td background="__URL__/Images/mail_right_bg.gif">&nbsp;</td>
    </tr>
    <!-- 底部部分 -->
    <tr>
        <td valign="bottom" background="__URL__/Images/mail_left_bg.gif">
            <img src="__URL__/Images/buttom_left.gif" width="17" height="17" />
        </td>
        <td background="__URL__/Images/buttom_bgs.gif">
            <img src="__URL__/Images/buttom_bgs.gif" width="17" height="17">
        </td>
        <td valign="bottom" background="__URL__/Images/mail_right_bg.gif">
            <img src="__URL__/Images/buttom_right.gif" width="16" height="17" />
        </td>
    </tr>
</table>
</body>
<script type="text/javascript">
    var validate = $('#form1').validate({
        //设置验证规则
        rules: {
            name:{
                required:true
                /*remote: {
                    url: '{:U("Admin/Goods/checkName")}',
                    type: 'post'
                }*/
            },
            cid:{
                required:true
            },
            price:{
                required:true,
                number:true,
                maxlength:10
            },
            marketprice:{
                required:true,
                number:true,
                maxlength:10
            },
            num:{
                required:true,
                number:true,
                maxlength:5
            }
        },
        messages: {
            name:{
                required:'不能为空'
                /*remote: '商品已存在'*/
            },
            cid:{
                required:'不能为空'
            },
            price:{
                required:'不能为空',
                number:'请输入数字',
                maxlength:'最多10位'

            },
            marketprice:{
                required:'不能为空',
                number:'请输入数字',
                maxlength:'最多10位'
            },
            num:{
                required:'不能为空',
                number:'请输入数字',
                maxlength:'最多5位'
            }

        },
        success: function (label) {
            label.addClass("ok");
        },
        validClass: "ok",
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.appendTo(element.parent());

        }
    });
    jQuery.validator.onfocus = true;
    $('#addgood').click(function(){
        if (validate.form()) {
            $('#form1').ajaxSubmit(function(res){
                layer.msg(res.msg,{icon:6,time:1000},function(){
                    location.href="{:U('/Admin/Goods/glist')}";
                })

            });
            return false;
        }

    });
    //富文本框
    KindEditor.ready(function(K) {
        K.create('#ked', {
            resizeType : 1,
            allowPreviewEmoticons : true,
            allowImageUpload : true,
            items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link'],  afterBlur: function(){this.sync();}
        });
    });
    $('#up_img1').click(function () {
        new uploadPreview({ UpBtn: "up_img1", DivShow: "imgdiv1", ImgShow: "imgShow1" });
    });
    $('#up_img2').click(function () {
        new uploadPreview({ UpBtn: "up_img2", DivShow: "imgdiv2", ImgShow: "imgShow2" });
    });
    $('#up_img3').click(function () {
        new uploadPreview({ UpBtn: "up_img3", DivShow: "imgdiv3", ImgShow: "imgShow3" });
    });
    $('#up_img4').click(function () {
        new uploadPreview({ UpBtn: "up_img4", DivShow: "imgdiv4", ImgShow: "imgShow4" });
    });
    /*var options={
     url:url, //form提交数据的地址
     type:type, //form提交的方式(method:post/get)
     target:target, //服务器返回的响应数据显示在元素(Id)号确定
     beforeSubmit:function(), //提交前执行的回调函数
     success:function(), //提交成功后执行的回调函数
     dataType:null, //服务器返回数据类型
     clearForm:true, //提交成功后是否清空表单中的字段值
     restForm:true, //提交成功后是否重置表单中的字段值，即恢复到页面加载时的状态
     timeout:6000 //设置请求时间，超过该时间后，自动退出请求，单位(毫秒)。
     }*/
</script>
</html>
