<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>列表页</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jQuery.1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/editor/kindeditor.js"></script>

    <script type="text/javascript">
        KE.show({
            id : 'content7',
            cssPath : './index.css'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 345
            });
            $(".select2").uedSelect({
                width : 167
            });
            $(".select3").uedSelect({
                width : 100
            });
        });
    </script>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">系统设置</a></li>
    </ul>
</div>
<div class="formbody">
    <div id="usual1" class="usual">
        <div id="tab2" class="tabson">
            <?php
            include_once "searchform.php";
            ?>
            <table class="tablelist">
                <thead>
                <tr>
                    <th><input name="" type="checkbox" value="" id="headCheck"/></th>
                    <th>编号<i class="sort"><img src="__PUBLIC__/Admin/images/px.gif" /></i></th>
                    <th>广告位置</th>
                    <th>广告图片</th>
                    <th>广告链接</th>
                    <th>创建时间</th>
                    <th>展示状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <volist name="adList" id="aval" key="k">
                    <tr>
                        <td><input name="" type="checkbox" value="" /></td>
                        <td>{$firstRow+$k}</td>
                        <td>{$aval.ad_pos_name}</td>
                        <td><img src="/Uploads/Advertise/{$aval.ad_pic}" alt="" width="100"/></td>
                        <td>{$aval.ad_url}</td>
                        <td>{:date("Y-m-d H:i:s",$aval['ad_createtime'])}</td>
                        <td>{$aval[ad_isshow]?'展示':'未展示'}</td>
                        <td><a href="{:u('Admin/Advertise/editAdvertise',array('ad_aid'=>$aval['ad_aid']))}" class="tablelink">编辑</a><?='&nbsp;&nbsp;&nbsp;'?>
                            <a href="#" class="tablelink" onclick="show({$aval['ad_aid']})">{$aval[ad_isshow]?'不展示':'展示'}</a><?='&nbsp;&nbsp;&nbsp;'?>
                            <a href="#" class="tablelink" onclick="del({$aval['ad_aid']})"> 删除</a></td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            <div id="page">
                {$page}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
    <script type="text/javascript">
        function show(id){
            var url="/Admin/Advertise/toggleAdvertise/ad_aid/"+id;
            $.post(url,null,function(res){
                layer.alert(res,function(){
                    location.reload();
                });
            })
        }
        function del(id){
            var url="/Admin/Advertise/delAdvertise/ad_aid/"+id;
            layer.confirm("确定要删除这项广告吗", {
                btn: ['确定', '取消']
            },function(){
                $.post(url,null,function(res){
                    layer.alert(res,function(){
                        location.reload();
                    })
                })
            });
        }
    </script>

</div>
</body>

<script type="text/javascript">
    $("#headCheck").click(function(){
        if($("#headCheck").attr("checked")=="checked"){
            $("[type=checkbox]").attr("checked",$("#headCheck").attr("checked"));
        }else{
            $("[type=checkbox]").removeAttr("checked");
        }
    })

</script>
</html>