<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>购物车页面</title>
	<link rel="stylesheet" href="__STATIC__/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_gouwuche.css" type="text/css" />
    <script type="text/javascript" src="__STATIC__/js/jquery-1.8.2.js" ></script>
    <script type="text/javascript" src="__STATIC__/js/topNav.js" ></script>
   <!-- <script type="text/javascript" src="__STATIC__/js/jquery.goodnums.js" ></script>
    <script type="text/javascript" src="__STATIC__/js/shop_gouwuche.js" ></script>-->
</head>
<body>
		<!-- Header  -wll-2013/03/24 -->
        <include file="public/header"/>

	<!-- Header End -->
	
	<!-- 购物车 Body -->
	<div class="shop_gwc_bd clearfix">
		<!-- 在具体实现的时候，根据情况选择其中一种情况 -->
		<!-- 购物车为空 -->

			<!--<div class="empty_cart mb10">
				<div class="message">
					<p>购物车内暂时没有商品，您可以<a href="index.html">去首页</a>挑选喜欢的商品</p>
				</div>
			</div>-->
		<!-- 购物车为空 end-->
		
		<!-- 购物车有商品 -->
		<div class="shop_gwc_bd_contents clearfix">
			<!-- 购物流程导航 -->
			<div class="shop_gwc_bd_contents_lc clearfix">
				<ul>
					<li class="step_a hover_a">确认购物清单</li>
					<li class="step_b">确认收货人资料及送货方式</li>
					<li class="step_c">购买完成</li>
				</ul>
			</div>
			<!-- 购物流程导航 End -->

			<!-- 购物车列表 -->
			<!--<table>
				<thead>
					<tr>
						<th colspan="2"><span>商品</span></th>
						<th><span>单价(元)</span></th>
						<th><span>数量</span></th>
						<th><span>小计</span></th>
						<th><span>操作</span></th>
					</tr>
				</thead>

				<tbody>
                <volist name="carinfo" id="carlist" key="k" empty="$empty">
					<tr>
						<td class="gwc_list_pic"><a href="{:U('Home/Goods/details',array('id'=>$carlist['id']))}"><img width="39px" height="60px" src="__PIC__{$carlist.goodspic}" /></a></td>
						<td class="gwc_list_title"><a href="{:U('Home/Goods/details',array('id'=>$carlist['id']))}">{$carlist.goodsname} </a></td>
						<td class="gwc_list_danjia"><span>￥<strong id="danjia_00{$k}">{$carlist.price}</strong></span></td>
						<td class="gwc_list_shuliang"><span><a class="good_num_jian this_good_nums" did="danjia_00{$k}" xid="xiaoji_00{$k}" ty="-" valId="goods_00{$k}" href="javascript:void(0);">-</a><input type="text" value="{$carlist.num}" id="goods_00{$k}" class="good_nums" /><a href="javascript:void(0);" did="danjia_00{$k}" xid="xiaoji_00{$k}" ty="+" class="good_num_jia this_good_nums" valId="goods_00{$k}">+</a></span></td>
						<td class="gwc_list_xiaoji"><span>￥<strong id="xiaoji_00{$k}" class="good_xiaojis">{$carlist.price}</strong></span></td>
						<td class="gwc_list_caozuo"><a href="">收藏</a><a href="javascript:void(0);" class="shop_good_delete">删除</a></td>
					</tr>





                </volist>

					&lt;!&ndash;<tr>
					模板
						<td class="gwc_list_pic"><a href=""><img src="__STATIC__/images/4_7b5239c3f153ae4b67ff760f54408a5b.jpg_tiny.jpg" /></a></td>
						<td class="gwc_list_title"><a href="">双层花架简约韩式田园欧式地中海风格宜家纯白架现代花盆架电话架 </a></td>
						<td class="gwc_list_danjia"><span>￥<strong id="danjia_005">2550.00</strong></span></td>
						<td class="gwc_list_shuliang"><span><a class="good_num_jian this_good_nums" did="danjia_005" xid="xiaoji_005" ty="-" valId="goods_005" href="javascript:void(0);">-</a><input type="text" value="1" id="goods_005" class="good_nums" /><a href="javascript:void(0);" did="danjia_005" xid="xiaoji_005" ty="+" class="good_num_jia this_good_nums" valId="goods_005">+</a></span></td>
						<td class="gwc_list_xiaoji"><span>￥<strong id="xiaoji_005" class="good_xiaojis">2550.00</strong></span></td>
						<td class="gwc_list_caozuo"><a href="">收藏</a><a href="javascript:void(0);" class="shop_good_delete">删除</a></td>
					</tr>&ndash;&gt;

					

					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6">
							<div class="gwc_foot_zongjia">商品总价(不含运费)<span>￥<strong id="good_zongjia"></strong></span></div>
							<div class="clear"></div>
							<div class="gwc_foot_links">
								<a href="" class="go">继续购物</a>
								<a href="" class="op">确认并填写订单</a>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>-->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="day_list">
                <thead>

                <tr>
                    <th class="xuhao"></th>
                    <th width="15%">商品图片</th>
                    <th width="30%">商品名称</th>
                    <th width="10%">商品单价(元)</th>
                    <th width="20%">商品数量</th>
                    <th width="10%">小计(元)</th>
                    <th width="5%">操作</th>
                </tr>
                </thead>

                <form action="" method="post" id="form">
                    <input type="hidden" id="prices" name="prices" />

                    <tbody id="pageBody">
                    <volist name="carinfo" id="carlist" key="k" empty="$empty">
                    <tr>
                        <td class="xuhao" style="color: #ff0000"><input checked="checked" onchange="gettotalprice();"
                                                                        type="checkbox" name="chk[]" value={$carlist.id}>
                            <!--<input checked="checked" onchange="gettotalprice();"
                                   type="checkbox" name="pic[]" value={$carlist.goodspic}> -->
                            <input type="hidden"  name="pic[]"  value="{$carlist.goodspic}"/>
                        </td>
                        <td>

                            <a href="{:U('Home/Goods/details',array('id'=>$carlist['id']))}">
                                <img src="__PIC__{$carlist.goodspic}" alt=""
                                     style="width:80px;margin:10px;"/>
                            </a>
                        </td>
                        <td><a href="{:U('Home/Goods/details',array('id'=>$carlist['id']))}">{$carlist.goodsname}</a></td>
                        <td><a href="#" class="price">{$carlist.price}</a></td>
                        <td>
                            <a href="javascript:jian({$k});" class="decrement">-</a>&nbsp;
                            <input style="width: 22px;height: 22px; text-align: center" type="text" value="{$carlist.num}" class="num" name='buynum{$carlist.id}' id="buynum{$k}" onkeyup="chgnum(this)"/>&nbsp;
                            <a href="javascript:jia({$k});" class="increment">+</a>
                        <td class="prices">3088.00</td>
                        <td><a href="javascript:del({$carlist['id']});">删除</a></td>
                    </tr>
                    </volist>
                    <tr>
                        <td class="xuhao" style="color: #ff0000">
                            <input type="checkbox" checked="checked" onchange="gettotalprice();" id="chkAll" name="chkAll"/>
                        </td>
                        <td class="xuhao" style="color: #ff0000">
                            <a href="">全选</a>
                        </td>
                        <td colspan="5" id="buy">
                            <span>总价:<b id="totalprice">￥888.88</b></span>
                            <a href="javascript:playorder()" class="tobuy">去下单</a>
							<a href="{:U('Home/Index/index')}" class="tobuy">继续购物</a>
                        </td>
                    </tr>

                    </tbody>
                </form>
            </table>
			<!-- 购物车列表 End -->
		</div>
		<!-- 购物车有商品 end -->

	</div>
	<!-- 购物车 Body End -->

	<!-- Footer - wll - 2013/3/24 -->
        <include file="public/footer"/>
	<!-- Footer End -->

</body>
<script type="text/javascript">

    function chk(){
        var chkAll=document.getElementById('chkAll');
        var chks=document.getElementsByName('chk[]');
        for(var i=0;i<chks.length;i++){
            chks[i].checked=chkAll.checked;
        }
    }
    document.getElementById('chkAll').onclick=chk;

    function jian(n){
        var buynum=document.getElementById('buynum'+n).value;
        if(buynum>1){
            document.getElementById('buynum'+n).value=parseInt(buynum)-1;
        }
        getprices();
        gettotalprice();
    }
    function jia(n){
        var buynum=document.getElementById('buynum'+n).value;
        if(buynum<199){
            document.getElementById('buynum'+n).value=parseInt(buynum)+1;
        }
        getprices();
        gettotalprice();
    }

    function chgnum(v){
        if(v.value<1){
            v.value=1;
        }
        if(v.value>199){
            v.value=199;
        }
        if(isNaN(v.value)){
            v.value=1;
        }

        gettotalprice();
    }

    function getprices(){
        var nums=document.getElementsByClassName('num');
        var price=document.getElementsByClassName('price');
        var prices=document.getElementsByClassName('prices');
        for(var i=0;i<price.length;i++){

            prices[i].innerHTML=parseInt(price[i].innerHTML)*parseInt(nums[i].value);

        };
    }

    function gettotalprice(){
        getprices();
        var inputs=document.getElementsByName('chk[]');
        var prices=document.getElementsByClassName('prices');
        var totalprice=0;
        for(var i=0;i<inputs.length;i++){
            if(inputs[i].checked){
                totalprice+=parseInt(prices[i].innerHTML);
            };
        };
        document.getElementById('totalprice').innerHTML='￥'+totalprice;
        document.getElementById('prices').value=totalprice;
    }

    gettotalprice();
	
	//下单的ajax代码
    function playorder(){

        $.post("{:U('Home/Shopcar/playorder')}",$('#form').serialize(),function(res){
            if(res.status=='ok'){
                layer.alert(res.msg,{
                    yes:function(){
                        location.href="{:U('Home/Shopcar/playorder')}";
                    }
                });

            }else{
                layer.alert(res.msg);
            };
        })
    }
    //删除购物车商品
    function del(id){
        layer.confirm('您是真的要删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
        $.post("{:U('Home/Shopcar/del')}", {'id': id}, function (res) {
            if (res.status == 'ok') {
                layer.alert(res.msg, {
                    yes:function(){
                        location.href="{:U('Home/Shopcar/addcar')}";
                    }
                });
            } else {
                layer.alert(res.msg);
            }
        })
    }
    )}
</script>
</html>