@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-06-22 00:56:10
 * @version $Id$
 */
/*通用样式*/
a,address,b,big,blockquote,body,cite,code,dd,del,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,ul,var{ margin: 0; padding: 0; box-sizing: border-box;}
html { font-size: 100px; }
body { font-family:"微软雅黑"; font-size:0.24rem; color:#333333;background:#f2f2f2;padding-bottom: 1.3rem;}
ul, li { list-style:none;} 
h1,h2,h3,h4,h5,h6 { font-weight:normal;}
img { border:none; vertical-align:top; font-size:0rem;}
.bk { border:0.01rem solid green;}
.fl { float:left;}
.fr { float:right;}
a { text-decoration:none; color:#000;}
a:hover { color:#ea5505;}
a:link,a:visited{text-decoration:none;color:#333;}
* html .clearfix { height: 1%;}
i{font-style: normal;}
.clearfix:after { content:""; height:0; font-size:0rem; visibility:hidden; display:block; clear:both;}
.clearfix { *zoom:1;}
.wrapper{width:6.9rem;margin:0 auto;}

/*头部样式 开始*/
.header{width:100%;height:0 auto;padding:0.27rem 0;overflow:hidden;background-color: #ff6600;}
.header .shop p{font-size: 0.36rem;color:#fff;margin:0 auto;padding-left: 3rem;}
.header .shop .right{font-size: 0.28rem;padding:0.08rem 0.29rem 0 0;}
.header .shop .right a{color:#fff;}
/*头部样式 结束*/

/*产品详情样式 开始*/
.product {width:100%;}
.product img{width:1.61rem;height:1.61rem;margin:0.25rem 0.3rem 0.2rem 0.33rem;}
.product table{margin-bottom: 0.10rem;background:#fff;padding-top: 0.38rem;padding-bottom: 0.34rem;width:100%;padding-left: 0.29rem;}
.product #min5, .product #add5 { width:0.2rem; height:0.19rem;border:0.01rem solid #ccc;}
.product #text_box5 { width:0.3rem; text-align:center; border:0.01rem solid #ccc;}
.product .tab1 a:hover{color:#dd0206;}
.product .tab1-td1 { text-align:center; width: 0.62rem;}
.product .tab1-td1  input{border-radius: 0.05rem}
.product .tab1-td2{width:2.2rem}
.product .tab1-td3{font-size: 0.24rem;color:#333;}
.product .tab1-td3 span{ display: block;font-size: 0.20rem;color:#ff0000;}
.product .tab1-td3 .tex{ display: block;font-size: 0.20rem;color:#666;padding-top: 0.4rem;padding-bottom: 0.28rem;}
.product .tab1-td3 input{margin-top:0.25rem;}
.product .tab1-td4{  text-align:center;}
.product .tab1-td5 input{float:left;text-align:center;}
.product .tab1-td6{  text-align:center;}
.product .tab1-td7{ text-align:center;}
/*产品详情样式 结束*/

/*全选复选框 样式*/
.clase{width:100%;padding-left:0.3rem;padding-right:0.27rem;background-color: #fff;padding-top: 0.12rem;padding-bottom: 0.11rem;}
.clase .tab2 tr td{font-size:0.26rem;}
.clase .tab2-td1 input{padding-top: 0.3rem;padding-bottom: 0.2rem;}
.clase .tab2-td2{text-align:center;padding-right:0.5rem;padding-left: 0.4rem;font-size: 0.26rem;color:#999;}
.clase .tab2-td2 span{ color:#999;font-size:0.2rem; font-weight:bold; padding-left:0.05rem; padding-right:0.05rem; }
.clase .tab2-td2 .num{color:#ff3300;font-size:0.26rem; font-weight:bold;}
.clase .tab2-td3{text-align:center;font-size: 0.26rem;color:#999;padding-right: 1rem;}
.clase .tab2-td3 span{ font-size:0.26rem; font-weight:bold;color:#ff3300;}
.clase .tab2-td3 span:nth-child(2){ color:#ff5500; width:0.8rem; display:block;}
.clase #zong{color:#ff5500;font-size:0.14rem; font-weight:bold;}
.clase .tab2-td4{ width:1.1rem;text-align:center;}
.clase .js{font-size:0.28rem;background-color:#ff6600;width:1.34rem;height:0.74rem;display: inline-block;line-height: 0.74rem;}
.clase .js a{color:#fff;}
/*全选结算样式 结束*/

/*底部导航样式 开始*/
.outside { background: #f4f4f4; padding-top: 0.1rem; height: 1.08rem; position: fixed; bottom: 0; left: 0; z-index: 999;}
.footer { width: 7.5rem; height: 0.97rem; border-top: 0.01rem solid #eee; background: #fbfbfb; font-size: 0; padding: 0.15rem 0.2rem 0;}
.footer ul li { display: inline-block; *display: inline; *zoom: 1; width: 25%;text-align: center}
.footer ul .end { margin-right: 0;}
.footer ul li a { display: block;}
.footer ul li a i { margin: 0 auto 0.04rem; display: block; width: 0.4rem; height: 0.4rem; background: #333; border-radius: 0.2rem;}
.footer ul li a i span { display: block; width: 0.4rem; height: 0.4rem;}
.footer ul li a i .i1 { background: url(../images/footer_1.png) no-repeat center center; background-size:0.4rem 0.4rem;}
.footer ul li a i .i2 { background: url(../images/footer_2.png) no-repeat center center; background-size:0.4rem 0.4rem;}
.footer ul li a i .i3 { background: url(../images/footer_3.png) no-repeat center center; background-size:0.4rem 0.4rem;}
.footer ul li a i .i4 { background: url(../images/footer_4.png) no-repeat center center; background-size:0.4rem 0.4rem;}
.footer h5 { font-size: 0.2rem; color: #333;}
.footer ul li a .on { background: #f8313a;}
/*底部导航样式 结束*/











