@charset "utf-8";
/* CSS Document */

.outside{width:100%;/*height:630px;*/background:#f2f2f2;overflow:hidden;}
.outside .inside{width:100%;background:url(../images/entry3.png) no-repeat center center;margin:0 auto;height:490px;/*margin-top:70px*/;}
.outside .inside .right{float:right;margin-right:30%;}
.outside .inside .right h2{font-size:24px;font-weight:bold;color:#666;margin-top:80px;}
.outside .inside .right form input#t1{width:250px;height:35px;padding-left:50px;border:1px solid #d9d9d9;background:url(../images/p1.png) no-repeat;margin-top:15px;}
.outside .inside .right form input#t3{border:1px solid #d9d9d9;width:150px;height:35px;padding-left:50px;margin-top:15px;}
.outside .inside .right form  h4{width:80px;height:35px;border:1px solid #d9d9d9;float:right;margin-left:10px;margin-top:15px;text-align:center;line-height:35px;}
.outside .inside .right form input#t2{border:1px solid #d9d9d9;width:250px;height:35px;padding-left:50px;background:url(../images/p2.png) no-repeat;margin-top:15px;}
.outside .inside .right .input h5{font-size:20px;background:#e2003e;width:305px;height:35px;color:#fff;margin-top:15px;text-align:center;line-height:35px;}
.outside .inside .right h4{float:left;margin-top:15px;width:130px;height:20px;}

.outside .inside .right .input{position: relative;}
.outside .inside .right .overlay {position:fixed; top:0px; left:0px; width:100%; height:100%;background:#000; opacity: .6; filter:alpha(opacity=60);display:none;}
.outside .inside .right .pop{position:fixed; width:500px; height:300px; background:#fff; top:40%;left:50%; margin-left:-250px; margin-top:-150px;display:none;}
.outside .inside .right .pop h3{ height:50px; background:#e2003e; line-height: 50px; padding:0 10px;color:#fff;font-size: 20px;font-weight: normal;text-align: center;}
.outside .inside .right .pop h3 a {float:right;color:#fff;}
.outside .inside .right .pop p.popTips { margin:10px; height: 200px;width:500px;float: left;}
.outside .inside .right .pop p.popTips img{width:150px;height:150px;float: left;}
.outside .inside .right .pop .popTips span{color:#000;font-size:24px;text-align:center;margin-left:100px;padding-top:100px;height:200px;line-height: 200px;}
.outside .inside .right h5{float:right;height:20px;width:80px;color:#ff7f00;margin-top:15px;}
.outside .inside .right a:link {color:#000;text-decoration:none;}
.outside .inside .right a:visited {color:#000;text-decoration:none;}
.outside .inside .right a:hover {color:#ff7f00;text-decoration:none;}
