<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="5;url={:U('Index/index')}" />
    <link href="__STATIC__/css/css.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/css/common.css" rel="stylesheet" tyle="text/css" />
    <script src="__STATIC__/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="__STATIC__/js/common_js.js" type="text/javascript"></script>
    <script src="__STATIC__/js/layer/layer.js"></script>
    <title>用户登录</title>
</head>
<body>
<!--顶部样式-->
<div class="common_top">
    <div class="Narrow">
        <div class=" left logo"><a href="{:U('Index/index')}"><img src="__STATIC__/images/logo.png" /></a></div>
        <!--电话图层-->
        <div class="phone"><label>全国服务热线：</label><em>400-345-5633</em></div>
    </div>
</div>
<div class="login_bg">
    <div class="login Narrow">
        <div class="login_advertising" style="margin-left: -200px;"><a href="{:U('Index/index')}"><img src="__STATIC__/images/bg_03.png" /></a></div>
        <div class="login_advertising" style="margin-left: 400px;"><img src="__STATIC__/images/notfound.jpg" />
            <h2><a href="{:U('Index/index')}" style="margin-left: 100px;color: #0088ff">点击跳转主页</a></h2></div>
    </div>
    <!--底部样式-->
    <div class="bottom_footer">
        <p><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">商家入驻</a> | <a href="#">法律申明</a> | <a href="#">友情链接</a>  </p>
        <p>Copyright©2014四川金祥保险销售有限公司.All Rights Reserved. </p>
        <p>川ICP备09150084号</p>
    </div>
    </div>
</body>
</html>
