@charset "utf-8";
*{margin:0; padding:0; font-family: "微软雅黑"; font-size:12px;}
a{text-decoration:none;}
.clearfix:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.clearfix {zoom:1;}
.fl{float:left;}
.fr{float:right;}
/*公共类标签*/
.wid_1200 {width:1200px; margin:0 auto;} /*公共框架,内容在1200px内,居中*/
.clearfix:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.clearfix {zoom:1;}

/*header样式*/
.header{height:124px; line-height:124px; margin-bottom:48px;}
.header .logo{width:300px; height:124px; line-height:124px; text-align:right; position:relative; display: inline-block;}
.header .logo img{float:left; width:164px; height:86px; position:absolute; top:17px; left:0;}
.header span input{float:right; width:300px; margin-top:38px; height:45px; border:1px solid #f00; padding-left:15px; line-height:45px; font-size:18px; color:#999;}
.header span input.btn{width:54px; height:47px; border:1px solid #f00; line-height:47px; cursor:pointer; text-align:center; padding-left:0; background:#f00; color:#fff;}
/*login样式*/
.cont{width:1920px; width:100%; min-width:1200px; height:558px; /*background:url(../images/1.jpg) no-repeat;*/ position:relative;}
.cont img{width:100%; height:558px;   }
.cont .form{width:400px; height:300px; padding:20px;  position:absolute; top:10%; right:20%;}
.cont .form .top{font-size:18px; color:#626262; line-height:28px; margin-bottom:10px;}
.cont .form .top a{font-size:14px; color:#db0007; float:right;}
.cont .form .tips{width:310px; height:30px; margin-bottom:14px; font-size:14px; line-height:30px; text-align:center; background:#f4ee42; border:1px solid #f5bf14; }
.cont .form form input{ width:260px; height:30px; line-height:30px; margin-bottom:26px; padding-left:10px; color:#666; font-size:16px; border:1px solid #999; }
.cont .form form input.inp{margin-top:2px;}
.cont .form form .user,.pass{float:left; width:37px; height:30px; border:1px solid #999; border-right:none;}
.cont .form form .user{background:url(../images/logIcon.png) no-repeat -39px;}
.cont .form form .pass{background:url(../images/logIcon.png) no-repeat 0px;}
.cont .form form .psw{height:40px;} 
.cont .form form .psw .zddl{margin-right:30px; overflow:hidden;}
.cont .form form .psw .jzmm{overflow:hidden;}
.cont .form form .psw .wjmm{float:right;}
.cont .form form .psw .wjmm a{color:#666;}
.cont .form form .psw input{float:left; height:14px; width:14px;}
.cont .form form .psw span{float:left;}
.psw span.wjmm{float:right; color:#666; font-size:12px;}
.cont .form .btn{width:310px; height:40px;line-height:40px; font-size:18px; color:#fff;/*text-align:center;*/ margin-bottom:26px; cursor:pointer;background:#f00;}

.form .bottom{height:20px; line-height:20px;}
.form .bottom span{display:inline-block; width:20px; height:20px; margin-right:8px; text-indent:-999999px; /*border:1px solid red;*/}
.form .bottom span.wx{background:url(../images/logIcon.png) no-repeat -78px 1px }
.form .bottom span.qq{background:url(../images/logIcon.png) no-repeat -104px 1px }
.form .bottom span.wb{background:url(../images/logIcon.png) no-repeat -130px 0}












.ipt{
    border: 1px solid #d3d3d3;
    padding: 10px 10px;
    width: 290px;
    border-radius: 4px;
    padding-left: 35px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.ipt:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.u_logo{
    background: url("../images/username.png") no-repeat;
    padding: 10px 10px;
    position: absolute;
    top: 60px;
    left: 330px;

}
.p_logo{
    background: url("../images/password.png") no-repeat;
    padding: 10px 10px;
    position: absolute;
    top: 21px;
    left: 330px;
}
a{
    text-decoration: none;
}
.tou{
    background: url("../images/tou.png") no-repeat;
    width: 97px;
    height: 92px;
    position: absolute;
    top: -87px;
    left: 140px;
}
.left_hand{
    background: url("../images/left_hand.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
    top: -38px;
    left: 150px;
}
.right_hand{
    background: url("../images/right_hand.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
    top: -38px;
    right: -64px;
}
.initial_left_hand{
    background: url("../images/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -12px;
    left: 100px;
}
.initial_right_hand{
    background: url("../images/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -112px;
}
.left_handing{
    background: url("../images/left-handing.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -24px;
    left: 139px;
}
.right_handinging{
    background: url("../images/right_handing.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -21px;
    left: 210px;
}

label{
    font-size: 15px;
    font-weight: bold;
    font-family: "微软黑体";
}


input.error {border: 1px solid #EA5200;}
div.error{
    position: absolute;
    left: 95px;
    margin-top: -23px;
    background:url("../images/error.png") no-repeat 5px 2px;
    padding-left: 18px;
    color:#ff0300;
    font-weight: bold;
    font-size: 6px;
    width: 120px;
    height: 40px;
    text-align: center;
}