@charset "utf-8";
/* CSS Document */

/*顶部样式*/
.top{height:100px; border-bottom: 3px solid #dbdbdb;}
.top p{line-height: 35px;font-size: 14px; float: left;}
.top .lf li{font-size: 27px;color: #00c0ef}
.top ul li{float: left; line-height: 100px; margin-right: 10px; font-size: 15px;}
.top ul li a{margin-right: 10px;}
.top ul li a:hover{color: #cc0001;}
.top ul li span{color: #cc0001;}
/*.top{height: 30px; border-bottom: 1px solid #dbdbdb; background:#f2f2f2;}
.top .topCont p{line-height: 30px;font-size: 14px; float: left;}
.top ul li{float: left; line-height: 30px; margin-right: 10px; }
.top ul li a{margin-right: 10px;}
.top ul li a:hover{color: #cc0001;}
.top ul li span{color: #cc0001;}
.top .topCont li.l1 a{margin-right: 0px;}*/
i{width:100%;height:1px;background: #cc000a;display: inline-block;margin-bottom: 20px;}


.nav  .navCont .classify .menu{width:185px;  background:#eee;position: absolute; top:0 left:0;display: none;z-index: 99999;}
.nav  .navCont .classify:hover .menu{display:block;}

/*内容开始*/
.cont{width:100%;height:auto;width: 1200px;margin-bottom: 50px;}
.cont .cont_bg{width:1200px;margin:0 auto;position: relative;} 
.cont .cont_bg .sidebar{font-size: 14px;width:150px;height:655px;background-color: #f1f1f1;border:1px solid #d6d6d6;display: inline-block;}
.cont .cont_bg .sidebar .touxiang{height:160px;}
.cont .cont_bg .sidebar img{padding:10px 0px 0 0px;}
.cont .cont_bg .sidebar .touxiang p{line-height:30px;}
.cont .cont_bg .sidebar li{text-align:center;border-bottom:1px solid #d6d6d6;line-height:49px;}
.cont .cont_bg .sidebar li a{color:#343434;}
.cont .cont_bg .sidebar li:hover {background-color: #cc0001;}
.cont .cont_bg .sidebar li:hover  a{color:#fff;}
.cont .cont_bg .sidebar .kefu{line-height: 44px;}
.cont .news{/*width:880px; */height:600px;position:absolute;top:0;left:200px;}
.cont .cont_bg .news ul li{float:left;width:120px;height:60px;line-height:60px;font-size: 18px;text-align: center;border-bottom:2px solid transparent;margin:0 10px;font-family: "微软雅黑";cursor: pointer;}
.cont .cont_bg .news ul li.active{border-bottom:2px solid #cc0001;color:#cc0001;}
.focus{background:#cc0001;color:#fff;}

/*换货*/
tr{height:50px; font-size: 14px;}
.gwc{ width:980px;border:1px solid #cbcbcb; height:594px;display:none;font-size: 14px;}
.gwc_tb1{ width:100%; background:#f1f1f1;height:40px; margin-top:20px; margin-bottom:20px;text-align:center;}
.tb1_td2{ width:110px; }
.tb1_td3{ width:110px; }
.tb1_td4{ width:124px; text-align:center; }
.tb1_td5{ width:104px; text-align:center; }
.tb1_td6{ width:104px; text-align:center;}
.gwc_tb2{ width:100%; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;padding-top:15px; padding-bottom:15px;text-align:center;}
.tb2_td2{ width:110px; }
.tb2_td3{ width:520px;}
.tb2_td6 {  width:104px; line-height:22px;}
.gwc_tb2 a:hover{color:#dd0206;}
.gwc_tb3{ width:100%; border-bottom:1px solid #e5e5e5;padding-top:15px; padding-bottom:15px;text-align:center;}
.news p{text-align: right;padding-top: 26px;padding-right: 2%;}


/*退货*/
.gwc2{ width:980px;border:1px solid #cbcbcb; height:594px;display:none;}
.gwc_tb1{ width:100%; background:#f1f1f1;height:40px; margin-top:20px; margin-bottom:20px;text-align:center;font-size: 16px;}
.tb1_td2{ width:110px; }
.tb1_td3{ width:110px; }
.tb1_td4{ width:124px; text-align:center; }
.tb1_td5{ width:104px; text-align:center; }
.tb1_td6{ width:104px; text-align:center;}
.gwc_tb2{ width:100%; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;padding-top:15px; padding-bottom:15px;text-align:center;}
.tb2_td2{ width:110px; }
.tb2_td3{ width:520px;}
.tb2_td6 {  width:104px; line-height:22px;}
.gwc_tb2 a:hover{color:#dd0206;}
.gwc_tb3{ width:100%;  border-bottom:1px solid #e5e5e5;padding-top:15px; padding-bottom:15px;text-align:center;}
.news p{text-align: right;padding-top: 26px;padding-right: 2%;}

