<div style="font-size: 13px; margin: 10px 5px; position:relative;" id="div">
    <form action=""></form>
    <table class="table_a" border="1" width="100%">
        <thead><tr style="font-weight: bold;">
            <td>序号</td>
            <td>用户名</td>
            <td>商品名称</td>
            <td>图片</td>
            <td>订单号</td>
            <td>星级评价</td>
            <td>评价时间</td>
            <td>是否已回复</td>
            <td align="center">操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo" key="k" empty="$empty">
            <tr id="product1">
                <td>{$k}</td>
                <td>{$vo.username}</td>
                <td><a href="#" style="text-decoration: none">{$vo.goodsname}</a></td>
                <td><img src="/uploads/n3/{$vo.image|default='default.jpg'|explode=',',###|array_shift}" height="60" width="60"></td>
                <td>{$vo.oid}</td>
                <td>{$vo.level}</td>
                <td>{$vo.pjtime|date='Y-m-d H:i:s',###}</td>
                <td>{$vo['return']?'已回复':'未回复'}</td>
                <td>
                    <a href="{:U('pingjia/pingjiaReturn',array('id'=>$vo['id']),'')}" style="text-decoration: none">{$vo['return']?'':'回复'}</a>
                    <a href="{:U('pingjia/pingjiaDetail',array('id'=>$vo['id']),'')}" style="text-decoration: none">{$vo['return']?'详情':''}</a>
                    <a href="#"  class="del" name="{$vo['id']}" style="text-decoration: none">删除</a>
                </td>
            </tr>
        </volist>
        <tr>
            <td colspan="20" style="text-align: center;">
                <div class="pages">{$show}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>