<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__STATIC__/css/css.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/css/common.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/js/webupload/webuploader.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="__STATIC__/images/logo.ico" media="screen" />
<script src="__STATIC__/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="__STATIC__/js/jquery.form.js" type="text/javascript"></script>
<script src="__STATIC__/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="__STATIC__/js/common_js.js" type="text/javascript"></script>
<script src="__STATIC__/js/layer/layer.js" type="text/javascript"></script>
<!--<script src="__STATIC__/js/upload.js" type="text/javascript"></script>-->
<script src="__STATIC__/js/uploadPreview.min.js" type="text/javascript"></script>
<title>用户中心</title>
</head>
<script>
    $(function(){
        new uploadPreview({ UpBtn: "image1", SpanShow: "imgdiv", ImgShow: "imgShow" });
        $('#btn1').click(function(){
            $('#form1').ajaxSubmit(function(res){
                if(res.status==1){
                   layer.msg(res.info,{icon: 1,time:1000},function(){
                       location="{:U('UserCenter/userinfo')}"
                   })
                }else{
                    layer.msg(res.info,{icon: 2,time:1000});
                }
            })
            return false;
        })
    })
</script>
<body>
<!--顶部样式-->

<!--logo和搜索样式-->
<include file="Public/header"/>
<!--导航栏样式-->

<!--用户中心-->
<div class="user_style clearfix" id="user">
<div class="user_title"><em></em>用户中心</div>
  <div class="clearfix user" >
      <div class="user_left">
          <if condition="!isset($_SESSION['avatar1'])">
              <div class="user_info">
                  <div class="Head_portrait"><a href="{:U('UserCenter/usercenter')}"><img src="__STATIC__/images/deavatar.jpg"  style="width:100px; height:100px;border-radius: 50px"/></a><!--头像区域--></div>
                  <div class="user_name">用户{$Think.session.ybc_username}<!--<a href="#">[个人资料]</a>--></div>
              </div>
              <else/>
          <div class="user_info">
                  <div class="Head_portrait"><a href="{:U('UserCenter/usercenter')}"><img src="__ROOT__/Uploads/avatar/100/100_{$Think.session.avatar1}"  style="width:100px; height:100px;border-radius: 50px"/></a><!--头像区域--></div>
                  <div class="user_name">用户{$Think.session.ybc_username}<!--<a href="#">[个人资料]</a>--></div>
          </div>
          </if>
          <ul class="Section">
              <li><a href="{:U('UserCenter/userinfo')}"><em></em><span>个人信息</span></a></li>
              <li><a href="{:U('UserCenter/changepassword')}"><em></em><span>修改密码</span></a></li>
              <li><a href="{:U('Order/myOrderList')}"><em></em><span>我的订单</span></a></li>
              <li><a href="{:U('UserCenter/myComment')}"><em></em><span>我的评价</span></a></li>
              <li><a href="{:U('UserCenter/userintegral')}"><em></em><span>我的积分</span></a></li>
              <li><a href="{:U('UserCenter/usermsg')}"><em></em><span>我的消息</span></a></li>
              <li><a href="{:U('UserCenter/myCollect')}"><em></em><span>我的收藏</span></a></li>
              <li><a href="{:U('Order/myAddress')}"><em></em><span>收货地址管理</span></a></li>
              <li><a href="{:U('Order/history')}"><em></em><span>已购买的商品</span></a></li>
          </ul>
      </div>
    <div class=" right_style r_user_style">
      <div class="user_Borders">
       <div class="title_name">
        <span class="name">个人信息设置</span>
       </div>
       <div class="about_user_info">
       <form id="form1" name="form1" action="{:U('UserCenter/saveinfo')}" method="post" enctype="multipart/form-data">
       <div class="user_layout">
           <volist name="userInfo" id="val">
         <ul >
             <if condition="!isset($_SESSION['avatar1'])">
                 <li style="height: 100px"><label class="user_title_name">用户头像：</label><span id="imgdiv"><img src="__STATIC__/images/deavatar.jpg" id="imgShow" style="width:100px; height:100px;border-radius: 50px" /></span>
                     <input type="file" id="image1" name="avatar" value=""/>
                 </li>
                 <else/>
          <li style="height: 100px"><label class="user_title_name">用户头像：</label><span id="imgdiv"><img src="__ROOT__/Uploads/avatar/100/100_{$val.avatar}" id="imgShow" style="width:100px; height:100px;border-radius: 50px" /></span>
              <input type="file" id="image1" name="avatar" value=""/>
          </li>
             </if>
          <li><label class="user_title_name">用&nbsp;户&nbsp;名：</label><input name="username" value="{$val.username}" type="text"  class="add_text"/><i>*</i></li>
          <li><label class="user_title_name">性&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
              <if condition="$val.sex eq 1">
                <label class="sex"> <input type="radio" name="sex" value="1" id="RadioGroup1_0" checked/><span>男</span></label>
                <label class="sex"><input type="radio" name="sex" value="2" id="RadioGroup1_1" /><span>女</span></label>
                  <else/>
                  <label class="sex"> <input type="radio" name="sex" value="1" id="RadioGroup1_0" /><span>男</span></label>
                  <label class="sex"><input type="radio" name="sex" value="2" id="RadioGroup1_1" checked/><span>女</span></label>
              </if>
                <i>*</i>         
          </li>
          <li><label class="user_title_name">手&nbsp;机&nbsp;号：</label><input name="mobile" value="{$val.mobile}" type="text"  class="add_text"/><i>*</i></li>
          <li><label class="user_title_name">邮箱地址：</label><input name="mail" value="{$val.mail}" type="text"  class="add_text"/><i>*</i></li>
          <li><label class="user_title_name">Q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q：</label><input name="qq" value="{$val.qq}" type="text"  class="add_text"/><i>*</i></li>
         </ul>
           </volist>
         <div class="operating_btn"><input id="btn1" type="button" value="保存"  class="submit—btn"/></div>
         </div>
          </form>
       </div>
      </div>
    </div>
  </div>
</div>

<!--底部样式-->
<include file="Public/footer"/>
</body>
</html>
