<!--底部导航  开始-->
<div class="outside">
    <div class="footer">
        <ul>
            <li><a href="index.html">
                <i class="on"><span class="i1"></span></i>
                <h5>首页</h5>
            </a></li>
            <li><a href="class.html">
                <i><span class="i2"></span></i>
                <h5>分类</h5>
            </a></li>
            <li><a href="Cart/cart.html">
                <i><span class="i3"></span></i>
                <h5>购物车</h5>
            </a></li>
            <li class="end"><a href="personal.html">
                <i><span class="i4"></span></i>
                <h5>我的</h5>
            </a></li>
        </ul>
    </div>
</div>
<!--底部导航  结束-->
<script type="text/javascript">
    $(function(){
        $(".outside li").click(function(){
            $(this).find('i').addClass('on');
            $(this).siblings().find('i').removeClass('on');
        })
    })
</script>