<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/colResizable-1.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/cjyy/layer/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="__URL__/Style/skin.css" />
    <script type="text/javascript" src="__URL__/cjyy/jquery.form.js"></script>
    <script type="text/javascript" src="__URL__/cjyy/jquery.validate.js"></script>
    <style>
        input.error {
            border-color: #dda483;
        }
    </style>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <!-- 头部开始 -->
    <tr>
        <td width="17" valign="top" background="__URL__/Images/mail_left_bg.gif">
            <img src="__URL__/Images/left_top_right.gif" width="17" height="29" />
        </td>
        <td valign="top" background="__URL__/Images/content_bg.gif">
            <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="__URL__/Images/content_bg.gif">
                <tr><td height="31"><div class="title">编辑广告</div></td></tr>
            </table>
        </td>
        <td width="16" valign="top" background="__URL__/Images/mail_right_bg.gif"><img src="__URL__/Images/nav_right_bg.gif" width="16" height="29" /></td>
    </tr>
    <!-- 中间部分开始 -->
    <tr>
        <!--第一行左边框-->
        <td valign="middle" background="__URL__/Images/mail_left_bg.gif">&nbsp;</td>
        <!--第一行中间内容-->
        <td valign="top" bgcolor="#F7F8F9">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <!-- 空白行-->
                <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                <tr>
                    <td colspan="4">
                        <table>
                            <tr>
                                <td width="100" align="center"><img src="__URL__/Images/mime.gif" /></td>
                                <td valign="bottom"><h3 style="letter-spacing:1px;">在这里，您可以根据您的需求，填写网站参数！</h3></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- 一条线 -->
                <tr>
                    <td height="40" colspan="4">
                        <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td width="96%">

                        <!--编辑内容-->
                        <div id="forms" class="mt10">
                            <div class="box">
                                <div class="box_border">
                                    <div class="box_center">
                                        <form action="{:u('Admin/Ad/adeditsave')}" class="form2" id="form2" method="post" enctype="multipart/form-data">
                                            <table class="form_table pt15 pb15" width="80%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="td_right">广告名称：</td>
                                                    <td class=""><input type="text" name="adname" value="{$ads.adname}" class="input-text lh30" size="25"></td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">广告图片：</td>
                                                    <td class=""><input type="file" name="image" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">是否使用：</td>
                                                    <td class="">
                                                        <select name="adstate" class="input-text lh30" style="width: 60px">
                                                            <option  value="1">使用</option>
                                                            <option value="0">隐藏</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">图片描述：</td>
                                                    <td class=""><input type="text" name="adsp" value="{$ads.adsp}" class="input-text lh30" size="25"></td>
                                                </tr>
                                                <tr>
                                                    <td class="td_right">&nbsp;</td>
                                                    <td class="" style="width: auto">
                                                        <input type="hidden"  value="{$ads.id}" name="id">
                                                        <button type="button" id="ad1">修&nbsp;改&nbsp;广&nbsp;告</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--编辑内容结束-->
                    <td width="2%">&nbsp;</td>
                </tr>
                <tr>
                    <td height="40" colspan="4">
                        <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td width="51%" class="left_txt">
                        <img src="__URL__/Images/icon_mail.gif" width="16" height="11"> 客户服务邮箱：rainman@foxmail.com<br />
                        <img src="__URL__/Images/icon_phone.gif" width="17" height="14"> 官方网站：<a href="http://www.rain-man.cn">http://www.rain-man.cn</a>
                    </td>
                    <td>&nbsp;</td><td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td background="__URL__/Images/mail_right_bg.gif">&nbsp;</td>
    </tr>
    <!-- 底部部分 -->
    <tr>
        <td valign="bottom" background="__URL__/Images/mail_left_bg.gif">
            <img src="__URL__/Images/buttom_left.gif" width="17" height="17" />
        </td>
        <td background="__URL__/Images/buttom_bgs.gif">
            <img src="__URL__/Images/buttom_bgs.gif" width="17" height="17">
        </td>
        <td valign="bottom" background="__URL__/Images/mail_right_bg.gif">
            <img src="__URL__/Images/buttom_right.gif" width="16" height="17" />
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(function() {
        var validate = $('#form2').validate({
            //设置验证规则
            rules: {
                adname:{
                    required:true

                }
            },
            messages: {
                adname:{
                    required:'不能为空'
                }
            },
            success: function (label) {
                label.addClass("ok");
            },
            validClass: "ok",
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.appendTo(element.parent());

            }
        });
        jQuery.validator.onfocus = true;
        $('#ad1').click(function(){
            if (validate.form()) {
                $('#form2').ajaxSubmit(function(res) {
                    if(res.status=='ok'){
                        layer.confirm(res.msg,{
                                    btn:['继续添加','广告列表']
                                },
                                function(){

                                    layer.msg('ok',{time:1000},function(){
                                        location.href="{:U('/Admin/Ad/ad')}";


                                    })
                                },
                                function(){
                                    layer.msg('冲向广告列表',{time:1000},function(){
                                        location.href="{:U('/Admin/Ad/listAd')}";
                                    })
                                })
                    }

                })
                return false;

            }
        })
    })
</script>
</body>
</html>
