#wrap{
    height:auto;
    overflow: hidden;
    margin: 20px auto;
    padding:10px 20px;
    border: 1px solid #ccc;
}
#wrap .add-app {
    display:block;
    width: 100px;
    height:28px;
    line-height: 28px;
    text-align: center;
    background: #0b99d8;
    color: #fff;
    border-radius:4px;
}
#wrap .app{
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}
#wrap .app p{
    height: 30px;
    line-height: 30px;
}
#wrap .app p strong{
    font-size: 20px;
    color:#0b99d8;
}
#wrap .app dl{
    margin: 10px 0;
    border: 1px solid #dcdcdc;
    overflow: hidden;
}
#wrap .app dl dt{
    display: block;
    height: 36px;
    line-height: 36px;
    tab-index: 10px;
}#wrap.app dl dd{
    padding: 10px;

 }