<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录/注册</title>
    <link rel="stylesheet" href="__STATIC__/style/login.css" />
    <script src="__STATIC__/js/jQuery-1.8.2.min.js"></script>
    <script src="__STATIC__/js/jquery.validate.js"></script>
    <script src="__STATIC__/js/jquery.form.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>
    <style>
        lable{
            color:red;
        }
    </style>
</head>

<body>
<!-- 头部开始 -->
    <div class="header">

        <div class="headerCont wid_1200 clearfix">
            <div class="logo clearfix"><a href="__ROOT__/index.php"><img src="__STATIC__/images/miaojia.jpg" alt=""></a></div>
            <!--<span><input class="btn" type="type" value="搜索"><input type="text" value="血丸子" placeholder="血丸子" /></span>-->
        </div>
    </div>
<!-- 主体内容开始 -->
    <div class="cont">
        <img src="__STATIC__/images/loginbg.jpg" alt="">
        <div class="form">
            <p class="top">会员登录<a href="reg.html">立即注册</a></p>
            <div class="tips">公共场所不建议自动登录，以防账号丢失</div>
           <form action="{:U('Member/login')}" method="post" id="Form1" >
                <div class="clearfix">
                    <div class="user"></div>
                    <input type="text" name="username">
                </div>
                <div class="clearfix">
                    <div class="pass"></div>
                    <input type="password" name="pwd"><br />
                </div>
               <input type="hidden"  id="tz" name="tz" value={$url}>
               <div class="psw clearfix">
                    <div class="zddl fl">
                        <input type="checkbox" class="inp"><span>自动登录</span>
                    </div>
                    <div class="jzmm fl">
                        <input type="checkbox" class="inp"><span>记住密码</span>
                    </div>
                    <div class="wjmm fl"><span><a href="#">忘记密码？</a></span></div>
               </div>
            </form>
            <div ><input class="btn" type="button" value="登&nbsp;&nbsp;录" id="loginBtn"/></div>

            <div class="bottom">
                <p>使用合作网站账号登录：<a href="#"><span class="wx">1121</span></a><a href="#"><span class="qq">1112</span></a><a href="#"><span class="wb">1113</span></a></p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

    $(function(){
        var validate=$('#Form1').validate({
            //设置验证规则
            rules:{
                username:{
                    required:true
                },
                pwd:{
                    required:true
                  }
                },

            messages:{
                username:{
                    required:'用户名不能为空'
                },
                pwd:{
                    required:'密码不能为空'
                }


            },
            /*            success: function(label) {
             label.addClass("ok");
             },
             validClass: "ok",*/
            errorElement:'lable',
            errorPlacement: function(error, element) {
                error.appendTo( element.parent());
            }



        })
        jQuery.validator.onfocus=true;

        $('#loginBtn').click(function(){
            var url=$("#tz").val();
            if(validate.form()){
                $.post("{:U('Home/Member/login')}",$('#Form1').serialize(),function(res){
                    if(res.status=='ok'){
                        layer.alert(res.msg,{
                            yes:function(){
                                if(url){
                                    location.href=url;
                                }else{
                                    location.href="__ROOT__/index.php";
                                }

                            }
                        });
                    }else{
                        layer.alert(res.msg);

                    };
                })
            }

        })

    })
</script>
</html>

