<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>列表页</title>
<link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__STATIC__/js/jQuery-1.8.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/select-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/layer/layer.js"></script>
    <style type="text/css">
        .pag a,.pag span{
            display: inline-block;
            width:24px;
            height:20px ;
            border-radius: 2px;
            padding: 5px;
            margin: 2px;
            text-decoration: none;
            text-align: center;
            line-height: 20px;
            background: #D4E7F0;
            color:#000000;
            border: 1px solid #c2d2d7;
        }
        .pag a:hover{
            background: #7AC4DD;
            color:#000000;
        }
        .pag span{
            background: #7AC4DD;
            color: #000000;
            font-weight: bold;
        }
    </style>
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
</head>
<script type="text/javascript">
       $(function(){
             active=function(id){
                 $.post("{:U('Brand/edit')}",{id:id},function(res){
                          layer.msg(res.info,{time:1000,icon:1},function(){
                              location=window.location.href;
                          })
                 })

             }
       })
</script>
<script type="text/javascript">
    $(function(){
        delet=function(id){
             var str="确认删除？"
            layer.confirm(str,{btn:['确认','取消'],title:['提示信息']},function(){
                $.post("{:U('Brand/delete')}",{id:id},function(res){
                    if(res.status==1){
                        layer.msg(res.info,{time:1000,icon:1},function(){
                            location=window.location.href;
                        })
                    }else{
                        layer.msg(res.info)
                    }
                })
            },function(){

            })
        }
    })
</script>
<script type="text/javascript">
    $(function(){
        $('#Excel').click(function(){
            $.get("{:U('Brand/excel')}",'',function(res){
                if(res.status==1){
                    window.open("{:U('Brand/excel')}?keywords={$keywords}&active={$active}")
                }else{
                    layer.msg(res.info,{icon:2})
                }
            })
        })
    })
</script>
<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">品牌列表</a></li>
    </ul>
    </div>
    
    <div class="formbody">

    <div id="usual1" class="usual"> 

  	<div id="tab2" class="tabson">

    <ul class="seachform">
        <form action="{:U('Brand/index')}" method="get">
    <li><label>品牌查询</label><input name="keywords" type="text" value="{$keywords}" class="scinput" />*</li>
    
            <li><label style="font-size: 13px">&nbsp;品牌状态查询&nbsp;</label>
            <div class="vocation">
                <select class="select3" name="active">
                    <option  value="2" {$active==2?"selected":''}><span style="font-weight: bold">全部</span></option>
                    <option value="0"  {$active==0?"selected":''}><span style="font-weight: bold">下架品牌</span></option>
                    <option value="1"   {$active==1?"selected":''}  ><span style="font-weight: bold">在线品牌</span></option>
                </select>
            </div>
            </li>
            <li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询"/></li>
            <li><label>&nbsp;</label><input  id="Excel" style="width: auto;padding:10px;" name="" type="button" class="scbtn" value="导出品牌列表"/></li>
        </form>
    </ul>
  <div id="ybfy">
      <empty name="list">
          <span style="font-size: 20px;font-weight: bold;">没有找到相关条件的数据</span>
          <else />
      <table class="tablelist">
          <thead>
              <tr>
                  <th>编号<i class="sort"><img src="__STATIC__/images/px.gif" /></i></th>
                  <th>品牌logo</th>
                  <th>品牌名称</th>
                  <th>添加时间</th>
                  <th>状态</th>
                  <th>操作</th>
              </tr>
              </thead>
          <tbody>
          <volist name="list" id="val" key="k">
              <tr>
                  <td>{$k+$firstrow}</td>
                  <td><img src="__ROOT__/Uploads/brandsPic/logopic/100_{$val['pic']}" alt=""/></td>
                  <td>{$val['brandname']}</td>
                  <td>{$val['addtime']|date="Y-m-d H:s:i",###}</td>
                  <td>{$val['active']==0?'下架':'展示'}</td>
                  <td><a  onclick="javascript:active({$val['id']});" style="cursor: pointer"   class="tablelink">{$val['active']==0?'展示':'下架'}</a>   |  <a onclick="javascript:delet({$val['id']})" style="cursor: pointer" class="tablelink">删除</a></td>
              </tr>
          </volist>
      </table>

          <div class="pagin">
              <div class="message">共<i class="blue">{$count}</i>条记录，当前显示第&nbsp;<i class="blue">{$firstrow/3+1}&nbsp;</i>页</div>
              <ul class="paginList">
                  <li class="pag">{$page}</li>
              </ul>
          </div>
      </empty>

  </div>
    </div>

	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
    
    
    
    
    
    </div>
    <script type="text/javascript">
        function index(id) {
            var id = id ? id : 1;
            $.get("{:U('Brand/index')}", {"p": id}, function (res) {
                $('#ybfy').html(res);
            })
        }
    </script>


</body>

</html>
