<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/style1.css" />
    <!--[if IE 6]>
    <script src="__PUBLIC__/Home/js1/iepng.js" type="text/javascript"></script>
        <script type="text/javascript">
           EvPNG.fix('div, ul, img, li, input, a'); 
        </script>
    <![endif]-->    
    <script type="text/javascript" src="__PUBLIC__/Home/js1/jquery-1.11.1.min_044d0927.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js1/jquery.bxslider_e88acd1b.js"></script>

    <script type="text/javascript" src="__PUBLIC__/Home/js1/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js1/menu.js"></script>

	<script type="text/javascript" src="__PUBLIC__/Home/js1/select.js"></script>

	<script type="text/javascript" src="__PUBLIC__/Home/js1/lrscroll.js"></script>

    <script type="text/javascript" src="__PUBLIC__/Home/js1/iban.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js1/fban.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js1/f_ban.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js1/mban.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js1/bban.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js1/hban.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js1/tban.js"></script>
    
	<script type="text/javascript" src="__PUBLIC__/Home/js1/lrscroll_1.js"></script>
    
    
<title>淘书网</title>
</head>
<body>  
<!--Begin Header Begin-->
<include file="header"/>
<!--End Header End-->
<!--Begin Menu Begin-->
<div class="menu_bg">
	<div class="menu">
    	<!--Begin 商品分类详情 Begin-->
    	<div class="nav">
        	<div class="nav_t">全部图书分类</div>
            <div class="leftNav">
                <ul>
                    <volist name="cateList" id="vo">
                        <li>
                            <div class="fj">
                                <span class="n_img"><span></span><img src="" /></span>
                                <span class="fl">{$vo[catename]}</span>
                            </div>
                            <div class="zj" style="top:-{$key*40}px">
                                <div class="zj_l">
                                    <volist name="vo['second']" id="v1" >

                                        <div class="zj_l_c">
                                            <h2>{$v1.catename}</h2>
                                            <volist name="v1['third']" id="v2">
                                                <a href="{:U('Home/Search/search')}">{$v2.catename}</a>|
                                            </volist>

                                        </div>
                                    </volist>
                                </div>
                                <div class="zj_r">
                                    <a href="#"><img src="__PUBLIC__/Home/images/91.jpg" width="236" height="200" /></a>
                                    <a href="#"><img src="__PUBLIC__/Home/images/92.jpg" width="236" height="200" /></a>
                                </div>
                            </div>
                        </li>

                    </volist>
                </ul>
            </div>
        </div>
        <!--End 商品分类详情 End-->
    	<ul class="menu_r">
        	<li><a href="">首页</a></li>
            <li><a href="">特卖场</a></li>
            <li><a href="">最新特价</a></li>
            <li><a href="">特价精选</a></li>
            <li><a href="">淘书会</a></li>
            <li><a href="">排行榜</a></li>
        </ul>

    </div>
</div>
<!--End Menu End-->
<div class="i_bg bg_color">
	<div class="i_ban_bg">
		<!--Begin Banner Begin-->
    	<div class="banner">
            <div class="top_slide_wrap">
                <ul class="slide_box bxslider">
                    <li><img src="__PUBLIC__/Home/images/ban1.jpg" width="740" height="401" /></li>
                    <li><img src="__PUBLIC__/Home/images/ban2.jpg" width="740" height="401" /></li>
                    <li><img src="__PUBLIC__/Home/images/ban3.jpg" width="740" height="401" /></li>
                </ul>
                <div class="op_btns clearfix">
                    <a href="#" class="op_btn op_prev"><span></span></a>
                    <a href="#" class="op_btn op_next"><span></span></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        //var jq = jQuery.noConflict();
        (function(){
            $(".bxslider").bxSlider({
                auto:true,
                prevSelector:jq(".top_slide_wrap .op_prev")[0],nextSelector:jq(".top_slide_wrap .op_next")[0]
            });
        })();
        </script>
        <!--End Banner End-->
        <div class="inews">
        	<div class="news_t">
            	<span class="fr"><a href="#">更多 ></a></span>新闻资讯
            </div>
            <ul>
            	<li><span>[ 特惠 ]</span><a href="#">掬一轮明月 表无尽惦念</a></li>
            	<li><span>[ 公告 ]</span><a href="#">好奇金装成长裤新品上市</a></li>
            	<li><span>[ 特惠 ]</span><a href="#">大牌闪购 · 抢！</a></li>
            	<li><span>[ 公告 ]</span><a href="#">发福利 买车就抢千元油卡</a></li>
            	<li><span>[ 公告 ]</span><a href="#">家电低至五折</a></li>
            </ul>
            <div class="charge_t">
            	话费充值<div class="ch_t_icon"></div>
            </div>
            <form>
            <table border="0" style="width:205px; margin-top:10px;" cellspacing="0" cellpadding="0">
              <tr height="35">
                <td width="33">号码</td>
                <td><input type="text" value="" class="c_ipt" /></td>
              </tr>
              <tr height="35">
                <td>面值</td>
                <td>
                	<select class="jj" name="city">
                      <option value="0" selected="selected">100元</option>
                      <option value="1">50元</option>
                      <option value="2">30元</option>
                      <option value="3">20元</option>
                      <option value="4">10元</option>
                    </select>
                    <span style="color:#ff4e00; font-size:14px;">￥99.5</span>
                </td>
              </tr>
              <tr height="35">
                <td colspan="2"><input type="submit" value="立即充值" class="c_btn" /></td>
              </tr>
            </table>
            </form>
        </div>
    </div>
    <!--Begin 限时特卖 Begin-->
    <div class="i_t mar_10">
    	<span class="fl">新书速递</span>
    </div>
    <div class="content">
    	<div class="i_sell">
            <div id="imgPlay">
                <ul class="imgs" id="actor">
                    <li><a href="#"><img src="__PUBLIC__/Home/images/tm_b1.jpg" width="211" height="400" /></a></li>
                </ul>
            </div>
        </div>
        <div class="fresh_mid">
            <ul>
                <volist name="goodsList" id="v1" offset="0" length='6'>
                <li>
                    <div class="name"><a href="{:U('Home/Detail/detail',array('id'=>$v1['id']))}">{$v1['goodsname']}</a></div>
                    <div class="price"><span>￥{$v1['price']}</span>
                        <font><span></span></font> &nbsp;
                    </div>
                    <div class="img">
                        <img src="/Uploads/{$v1['pic']}"/>
                    </div>
                </li>
                </volist>
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="__PUBLIC__/Home/images/tel_b1.jpg" width="260" height="220" /></a></li>
                <li><a href="#"><img src="__PUBLIC__/Home/images/tel_b2.jpg" width="260" height="220" /></a></li>
            </ul>
        </div>
    </div>
    <!--End 新书速递 End-->
    <div class="content mar_20">
    	<img src="__PUBLIC__/Home/images/95.jpg" width="1200" height="110" />
    </div>
	<!--Begin 畅销图书 Begin-->
    <div class="i_t mar_10">
    	<span class="floor_num" style="color: #000000">1F</span>
    	<span class="fl">畅销图书</span>
        <span class="i_mores fr"><a href="#"></a>&nbsp; &nbsp; &nbsp; <a href="#"></a>&nbsp; &nbsp; &nbsp; <a href="#"></a>&nbsp; &nbsp; &nbsp; <a href="#"></a>&nbsp; &nbsp; &nbsp; <a href="#"></a></span>
    </div>
    <div class="content">
        <div class="i_sell">
            <div id="imgPlay1">
                <ul class="imgs" id="actor1">
                    <li><a href="#"><img src="__PUBLIC__/Home/images/tm_r.jpg" width="211" height="400" /></a></li>
                </ul>
            </div>
        </div>
        <div class="fresh_mid">
            <ul>
                <volist name="goodsList" id="v1" offset="6" length='6'>
                    <li>
                        <div class="name"><a href="{:U('Home/Detail/detail',array('id'=>$v1['id']))}">{$v1['goodsname']}</a></div>
                        <div class="price"><span>￥{$v1['price']}</span>
                            <font><span></span></font> &nbsp;
                        </div>
                        <div class="img">
                            <img src="/Uploads/{$v1['pic']}"/>
                        </div>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="__PUBLIC__/Home/images/83.jpg" width="260" height="220" /></a></li>
                <li><a href="#"><img src="__PUBLIC__/Home/images/84.jpg" width="260" height="220" /></a></li>
            </ul>
        </div>
    </div>
    <!--End 畅销图书End-->
    <!--Begin 独家特供 Begin-->
    <div class="i_t mar_10">
    	<span class="floor_num" style="color: #000000;">2F</span>
    	<span class="fl">独家特供</span>
        <span class="i_mores fr"><a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a></span>
    </div>
    <div class="content">
    	<div class="food_left">
        	<div class="food_ban">
            	<div id="imgPlay2">
                    <ul class="imgs" id="actor2">
                        <li><a href="#"><img src="__PUBLIC__/Home/images/tm_b2.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/tm_b2.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/tm_b2.jpg" width="211" height="286" /></a></li>
                    </ul>
                    <div class="prev_f">上一张</div>
                    <div class="next_f">下一张</div> 
                </div>   
            </div>
            <div class="fresh_txt">
            	<div class="fresh_txt_c">
                	<a href="#">读万卷书，不如行万里路。</a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
            <ul>
                <volist name="goodsList" id="v1" offset="12" length='6'>
                    <li>
                        <div class="name"><a href="{:U('Home/Detail/detail',array('id'=>$v1['id']))}">{$v1['goodsname']}</a></div>
                        <div class="price"><span>￥{$v1['price']}</span>
                            <font><span></span></font> &nbsp;
                        </div>
                        <div class="img">

                            <img src="/Uploads/{$v1['pic']}" />


                        </div>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="__PUBLIC__/Home/images/85.jpg" width="260" height="220" /></a></li>
                <li><a href="#"><img src="__PUBLIC__/Home/images/86.jpg" width="260" height="220" /></a></li>
            </ul>
        </div>
    </div>
    <!--End 独家特供 End-->
    <!--Begin 中国古典文学 Begin-->
    <div class="i_t mar_10">
    	<span class="floor_num" style="color: #000000;">3F</span>
    	<span class="fl">中国古典文学</span>
        <span class="i_mores fr"><a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a></span>
    </div>
    <div class="content">
    	<div class="make_left">
        	<div class="make_ban">
            	<div id="imgPlay3">
                    <ul class="imgs" id="actor3">
                        <li><a href="#"><img src="__PUBLIC__/Home/images/39.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/40.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/41.jpg" width="211" height="286" /></a></li>
                    </ul>
                    <div class="prev_m">上一张</div>
                    <div class="next_m">下一张</div> 
                </div>   
            </div>
            <div class="fresh_txt">
            	<div class="fresh_txt_c">
                	<br><a href="#">博览世间好书，弘扬中华文明。</a></br>
                    <a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
        	<ul>
                <volist name="goodsList" id="v1" offset="18" length='6'>
                    <li>
                        <div class="name"><a href="{:U('Home/Detail/detail',array('id'=>$v1['id']))}">{$v1['goodsname']}</a></div>
                        <div class="price"><span>￥{$v1['price']}</span>
                            <font><span></span></font> &nbsp;
                        </div>
                        <div class="img">
                            <img src="/Uploads/{$v1['pic']}"/>
                            </div>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="__PUBLIC__/Home/images/87.jpg" width="260" height="220" /></a></li>
                <li><a href="#"><img src="__PUBLIC__/Home/images/88.jpg" width="260" height="220" /></a></li>
            </ul>
        </div>
    </div>
    <!--End 中国古典文学 End-->
    <div class="content mar_20">
    	<img src="__PUBLIC__/Home/images/95.jpg" width="1200" height="110" />
    </div>
    <!--Begin 读者推荐 Begin-->
    <div class="i_t mar_10">
    	<span class="floor_num">4F</span>
    	<span class="fl">读者推荐</span>
        <span class="i_mores fr"><a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a></span>
    </div>
    <div class="content">
    	<div class="baby_left">
        	<div class="baby_ban">
            	<div id="imgPlay4">
                    <ul class="imgs" id="actor4">
                        <li><a href="#"><img src="__PUBLIC__/Home/images/38.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/baby_r.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/baby_r.jpg" width="211" height="286" /></a></li>
                    </ul>
                    <div class="prev_b">上一张</div>
                    <div class="next_b">下一张</div>
                </div>
            </div>
            <div class="fresh_txt">
            	<div class="fresh_txt_c">
                	<a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
        	<ul>
                <volist name="goodsList" id="v1" offset="24" length='6'>
                    <li>
                        <div class="name"><a href="{:U('Home/Detail/detail',array('id'=>$v1['id']))}">{$v1['goodsname']}</a></div>
                        <div class="price"><span>￥{$v1['price']}</span>
                            <font><span></span></font> &nbsp;
                        </div>
                        <div class="img">
                            <img src="/Uploads/{$v1['pic']}"/>
                        </div>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="__PUBLIC__/Home/images/89.jpg" width="260" height="220" /></a></li>
                <li><a href="#"><img src="__PUBLIC__/Home/images/90.jpg" width="260" height="220" /></a></li>
            </ul>
        </div>
    </div>
    <!--End 读者推荐 End-->
    <!--Begin 军事科技书籍 Begin-->
    <div class="i_t mar_10">
    	<span class="floor_num">5F</span>
    	<span class="fl">军事 科技书籍</span>
        <span class="i_mores fr"><a href="#"></a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a></span>
    </div>
    <div class="content">
    	<div class="home_left">
        	<div class="home_ban">
            	<div id="imgPlay5">
                    <ul class="imgs" id="actor5">
                        <li><a href="#"><img src="__PUBLIC__/Home/images/35.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/34.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/35.jpg" width="211" height="286" /></a></li>
                    </ul>
                    <div class="prev_h">上一张</div>
                    <div class="next_h">下一张</div>
                </div>
            </div>
            <div class="fresh_txt">
            	<div class="fresh_txt_c">
                	<a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
        	<ul>
                <volist name="goodsList" id="v1" offset="30" length='6'>
                    <li>
                        <div class="name"><a href="{:U('Home/Detail/detail',array('id'=>$v1['id']))}">{$v1['goodsname']}</a></div>
                        <div class="price"><span>￥{$v1['price']}</span>
                            <font><span></span></font> &nbsp;
                        </div>
                        <div class="img">
                            <img src="/Uploads/{$v1['pic']}"/>
                        </div>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="fresh_right">
        	<ul>
            	<li><a href="#"><img src="__PUBLIC__/Home/images/36.jpg" width="260" height="220" /></a></li>
                <li><a href="#"><img src="__PUBLIC__/Home/images/36.jpg" width="260" height="220" /></a></li>
            </ul>
        </div>
    </div>    
    <!--End 军事科技书籍 End-->
    <!--Begin 图书排行榜Begin-->
    <div class="i_t mar_10">
    	<span class="floor_num">6F</span>
    	<span class="fl">图书排行榜</span>
        <span class="i_mores fr"><a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="#"></a>&nbsp; &nbsp;  &nbsp; &nbsp;<a href="#"></a></span>
    </div>
    <div class="content">
    	<div class="tel_left">
        	<div class="tel_ban">
            	<div id="imgPlay6">
                    <ul class="imgs" id="actor6">
                        <li><a href="#"><img src="__PUBLIC__/Home/images/tel_r.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/tel_r.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/images/tel_r.jpg" width="211" height="286" /></a></li>
                    </ul>
                    <div class="prev_t">上一张</div>
                    <div class="next_t">下一张</div> 
                </div>   
            </div>
            <div class="fresh_txt">
            	<div class="fresh_txt_c">
                	<a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
        	<ul>
                <volist name="goodsList" id="v1" offset="36" length='6'>
                    <li>
                        <div class="name"><a href="{:U('Home/Detail/detail',array('id'=>$v1['id']))}">{$v1['goodsname']}</a></div>
                        <div class="price"><span>￥{$v1['price']}</span>
                            <font><span></span></font> &nbsp;
                        </div>
                        <div class="img">
                            <img src="/Uploads/{$v1['pic']}"/>
                        </div>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="fresh_right">
        	<ul>
            	<li><a href="#"><img src="__PUBLIC__/Home/images/tel_b1.jpg" width="260" height="220" /></a></li>
                <li><a href="#"><img src="__PUBLIC__/Home/images/tel_b2.jpg" width="260" height="220" /></a></li>
            </ul>
        </div>
    </div>    
    <!--End 数码家电 End-->
    <!--Begin 猜你喜欢 Begin-->
    <div class="i_t mar_10">
        <span class="fl">猜你喜欢</span>
    </div>
    <div class="like">
        <div id="featureContainer1">
            <div id="feature1">
                <div id="block1">
                    <div id="botton-scroll1">
                        <ul class="featureUL">
                            <li class="featureBox">
                                <div class="box">
                                    <div class="imgbg">
                                        <volist name="goodsList" id="v1" offset="42" >
                                            <li class="featureBox">
                                                <div class="box">
                                                    <div class="imgbg">
                                                        <img src="/Uploads/{$v1['pic']}"/>
                                                    </div>
                                                    <div class="name"><a href="{:U('Home/Detail/detail',array('id'=>$v1['id']))}">{$v1['goodsname']}</a>
                                                        <h2></h2>
                                                        </a>
                                                    </div>
                                                    <div class="price"><span>￥{$v1['price']}</span>
                                                        <font><span></span></font> &nbsp;
                                                    </div>
                                                </div>
                                            </li>
                                        </volist>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="l_prev" href="javascript:void();">Previous</a>
                <a class="l_next" href="javascript:void();">Next</a>
            </div>
        </div>
    </div>
    <!--End 猜你喜欢 End-->
    
    <!--Begin Footer Begin -->
    <include file="footer"/>

    <!--End Footer End -->    
</div>

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
