<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑分类</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/colResizable-1.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/ckfinder/ckfinder.js"></script>

    <script type="text/javascript">
        function changesel(){
            $("#firstCate").attr('disabled',false);
            $("#secondCate").attr('disabled',false);
        }
        $(function(){
            $(".list_table").colResizable({
                liveDrag:true,
                gripInnerHtml:"<div class='grip'></div>",
                draggingClass:"dragging",
                minWidth:30
            });
            $.each({$fCate}, function(i, n){
                if({$cate.fCate}==n.id){
                    str='selected';
                }else{
                    str='';
                }
                var option="<option value='"+ n.id+"' "+str+">"+n.catename+"</option>";
                $("#firstCate").append(option);
            });
            if({$cate.sCate}!=0){
                var sel="<select name=\"secondCate\" class=\"select\" id=\"secondCate\" disabled><option value=\"0\">二级分类</option></select>"
                $(".select_containers").append(sel);

                $.getJSON('{:u(\'firstChildCate\')}',{fpid:$("#firstCate").val()},function(data){
                    $.each(data, function(i, n){
                        if({$cate.sCate}==n.id){
                            str1='selected';
                        }else{
                            str1='';
                        }
                        var option="<option value='"+ n.id+"' "+str1+">"+n.catename+"</option>";
                        $("#secondCate").append(option);
                    });
                })
            }
            $("#firstCate").change(function(){
                $.getJSON('{:u(\'firstChildCate\')}',{fpid:$("#firstCate").val()},function(data){
                    if(data && $("#secondCate").length<=0){
                        var sel="<select name=\"secondCate\" class=\"select\" id=\"secondCate\"><option value=\"0\">二级分类</option></select>"
                        $(".select_containers").append(sel);
                    }
                    $("#secondCate option").eq(0).siblings().remove();
                    $.each(data, function(i, n){
                        var option="<option value='"+ n.id+"'>"+n.catename+"</option>";
                        $("#secondCate").append(option);
                    });
                });
            });
        });
    </script>
</head>
<body>
<div id="forms" class="mt10">
    <div class="box">
        <div class="box_border">
            <div class="box_top"><b class="pl15">编辑分类</b></div>
            <div class="box_center">
                <form action="{:u('saveCategory')}" method="post" class="jqtransform" onsubmit="changesel();">
                    <table class="form_table pt15 pb15" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <input type="hidden" name="id" value="{$cateid}"/>
                        <tr>
                            <td class="td_right">分类名称：</td>
                            <td class=""><input type="text" name="catename" class="input-text lh30" size="40" value="{$cate.catename}"></td>
                        </tr>

                        <tr >
                            <td class="td_right">所属分类：</td>
                            <td class="">
                    <span class="fl">
                      <div class="select_border">
                          <div class="select_containers ">
                              <select name="firstCate" class="select" id="firstCate" disabled>
                                  <option value="0">顶级分类</option>
                              </select>
                          </div>
                      </div>
                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_right">&nbsp;</td>
                            <td class="">
                                <input type="submit" class="btn btn82 btn_save2" value="保存">
                                <input type="reset" class="btn btn82 btn_res" value="重置">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>