.current{
    background-color:rgba(0,255,150,0.5);
}

.prev,.num,.next,.current,.end,.first{
    color: #0085CD;
    font-size: 16px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    display: inline-block;
    width:30px;
    height:30px;
    margin:4px;
    padding:1px 3px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.1);
    background-color: #EDF6FB;
}
.current{
    color: #FB0000;
    background-color: #DDDDDD;
}

.prev,.next,.end,.first{
    width:60px;
    height:30px;
    font-size: 14px;
}
li b{
    color: #FB0000;
}
