@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-06-17 18:43:49
 * @version $Id$
 */

/*通用样式*/

a,address,b,big,blockquote,body,cite,code,dd,del,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,ul,var{ margin: 0; padding: 0; box-sizing: border-box;}
body { font-family: "微软雅黑";background: #f4f4f4;font-size:0.28rem;color:#333333; width: 7.5rem;margin:0 auto;}
.wrapper{width:6.9rem;margin:0 auto;}
img { vertical-align: top; font-size: 0;}
ul,li{list-style: none;}
a:link,a:visited,a:hover{text-decoration: none;color:#fff;}
i{font-style: normal;}
b{font-weight: normal;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.fl{float: left; margin-left: 150px;align-content: center}
.fr{float: right;}
.bk{border: 0.01rem solid red;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

/*头部*/
.header{height:0.9rem;background: #1c1c20;color:#fff;font-size: 0.36rem;text-align: center;line-height: 0.9rem;}
.header p{display: inline-block;}
.header h2{font-size:0.36rem;display: inline-block;margin-left:1.8rem;margin-right:1.8rem;}
.header ul{display: inline-block;}
.header ul li{width:0.1rem;height:0.1rem;background: #fff;display: inline-block;border-radius:0.1rem; }

/*个人中心*/
.person{height:2.32rem;background: #f8313a;font-size:0.28rem;color:#fff;padding:0.7rem 0 0 0.3rem;}
.person .img{margin-right: 0.35rem;border-radius:0.49rem;width:0.98rem;height:0.98rem;background:rgba(255,255,255,.5);overflow: hidden;}
.person h3{margin-bottom:0.15rem;}
.person p{font-size: 0.22rem;}

/*订单*/
.order{background: #fff;}
.order .p{height:0.94rem;border-bottom:0.01rem solid #333333;text-align: center;line-height: 0.94rem;}
.order .p a{color:#333;}
.order p i{margin-left:5.5rem;}
.order ul{margin-top: 0.2rem;text-align: center;padding-bottom: 0.3rem;}
.order ul li{display:inline-block;margin-right:0.6rem;}
.order ul .first img{width:0.53rem;height:0.45rem;}
.order ul .second img{width:0.5rem;height:0.43rem;}
.order ul .three img{width:0.51rem;height:0.47rem;}
.order ul .four img{width:0.51rem;height:0.47rem;}
.order ul .last img{width:0.5rem;height:0.46rem;}
.order ul .last{margin-right: 0;}
.order ul li img{margin-bottom: 0.2rem}

/*收藏*/
.collect{height:auto;}
.collect ul {margin-bottom: 0.34rem;}
.collect ul li{padding-left:0.3rem;height:0.9rem;margin-top: 0.3rem;line-height: 0.9rem;font-size: 0.28rem;background: #fff;}
.collect ul .li01 i{margin-left: 4.5rem;}
.collect ul .li02 i{margin-left: 4.85rem;}
.collect ul .li03 i{margin-left: 3.7rem;}
.collect ul li img{padding-top:0.2rem;margin-right: 0.15rem;}
.collect .li02>img{padding-top: 0.3rem;}
.collect ul li a:link, .collect ul li a:visited, .collect ul li a:hover{text-decoration: none;color:#333333!important;}
.collect ul .li01 img{width:0.57rem;height:0.76rem;}
.collect ul .li02 img{width:0.51rem;height:0.69rem;padding-top:0.3rem;}
.collect ul .li03 img{width:0.52rem;height:0.7rem;}

/*猜你喜欢*/
 .like{background: #fff;font-size: 0.28rem;height:4.9rem;margin-bottom:1.5rem;}
 .like h3{padding: 0.32rem 4.5rem 0.27rem 0.3rem;display: inline-block;}
 .like .change{font-size: 0.24rem;color:#f8313a;padding: 0.34rem  0.3rem 0.27rem 0;display: inline-block;}
.like ul {text-align: center;padding:0 0.3rem 0.4rem 0.3rem;}
.like ul li{width:2.06rem;margin:0 0.06rem;display: inline-block;overflow: hidden;}
.like ul li p{color:#333333!important;font-size: 0.24rem;text-align: left;padding-top: 0.22rem}
.like ul li b{display:block;font-size: 0.26rem;color:red;text-align: left;padding-top: 0.14rem}
.like ul li .img01{width:2.26rem;height:2.26rem;}
.like ul li .img02{width:2.32rem;height:2.28rem;}
.like ul li .img03{width:2.26rem;height:2.27rem;}

/* 底部导航*/
.outside { background: #f4f4f4; padding-top: 0.1rem; height: 1.08rem; position: fixed; bottom: 0; left: 0; z-index: 999;}
.footer { width: 7.5rem; height: 0.97rem; border-top: 0.01rem solid #eee; background: #fbfbfb; font-size: 0; padding: 0.15rem 0.2rem 0;}
.footer ul li { display: inline-block; *display: inline; *zoom: 1; margin-right: 1.7rem;}
.footer ul .end { margin-right: 0;}
.footer ul li a { display: block;}
.footer ul li a i { margin: 0 auto 0.04rem; display: block; width: 0.4rem; height: 0.4rem; background: #333; border-radius: 0.2rem; transition: all .3s;}
.footer ul li a i span { display: block; width: 0.4rem; height: 0.4rem;}
.footer ul li a i .i1 { background: url(../imgs/footer_1.png) no-repeat center center; background-size:0.4rem 0.4rem;}
.footer ul li a i .i2 { background: url(../imgs/footer_2.png) no-repeat center center; background-size:0.4rem 0.4rem;}
.footer ul li a i .i3 { background: url(../imgs/footer_3.png) no-repeat center center; background-size:0.4rem 0.4rem;}
.footer ul li a i .i4 { background: url(../imgs/footer_4.png) no-repeat center center; background-size:0.4rem 0.4rem;}
.footer h5 { font-size: 0.2rem; color: #333;}
.footer ul li a .on { background: #f8313a;}




