<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>列表页</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/editor/kindeditor.js"></script>
    <script type="text/javascript">KE.show({id : 'content7', cssPath : './index.css'});</script>
    <script type="text/javascript">
    $(document).ready(function(e) {
        $(".select1").uedSelect({width : 345});
        $(".select2").uedSelect({width : 167});
        $(".select3").uedSelect({width : 100});
    });
    </script>
        <style type="text/css">
            .page a{display: inline-block;width:18px;height:18px;padding:5px;margin:2px;
                border:1px solid #238ac5;text-align: center;}
            .page span.current{display: inline-block;width:18px;height:18px;padding:5px;margin:2px;
                border:1px solid #238ac5;text-align: center;background:#3d96c9;}
            .page a:hover{background:#999999;color:#1a1a1a;}
        </style>
    </head>
    <body>
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">会员设置</a></li>
            <li><a href="#">会员列表</a></li>
            </ul>
        </div>
        <div class="formbody">
            <div id="usual1" class="usual">
                <div id="tab2" class="tabson">
                    <ul class="seachform">
                        <form action="{:u('Member/search')}" method="get">
                        <li><label>综合查询</label><input name="username"  type="text" class="scinput" value="{$username}"/></li>
                        <li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询"/></li>
                        </form>
                            <ul class="toolbar1">
                            <li class="click"><a href="{:U('Admin/Member/MemberAdd')}"><span><img src="__PUBLIC__/Admin/images/t01.png"/></span>添加</a></li>
                        </ul>
                    </ul>
                    <table class="tablelist">
                        <thead>
                        <tr>
                            <th><input name="" type="checkbox" value="" checked="checked"/></th>
                            <th>编号<i class="sort"><img src="__PUBLIC__/Admin/images/px.gif" /></i></th>
                            <th>会员名称</th>
                            <th>手机号码</th>
                            <th>邮箱</th>
                            <th>创建时间</th>
                            <th>最近登录时间</th>
                            <th>最近登录IP</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <volist name="memberList" id="value" key="k">
                                <tr>
                                <td><input name="" type="checkbox" value="" /></td>
                                <td>{$k+$firstRow}</td>
                                <td>{$value.username}</td>
                                <td>{$value.mobile}</td>
                                <td>{$value.email}</td>
                                <td>{$value.createtime|date="Y-m-d H:i:s",###}</td>
                                <td>{$value.lastlogintime|date="Y-m-d H:i:s",###}</td>
                                <td>{$value.lastloginip}</td>
                                <td>
                                    <a href="__CONTROLLER__/memDetail/mid/{$value.mid}" class="tablelink">查看</a>
                                    <a href="__CONTROLLER__/delete/mid/{$value.mid}" onclick="return confirm('确定要删除吗？')"class="tablelink">删除</a>
                                </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                    <div class="pagin">
                        <div class="message">共<i class="blue">{$count}</i>条记录，当前显示第&nbsp;<i class="blue">{$num}&nbsp;</i>页</div>
                        <div class="paginList">
                            <div class="page">
                                {$page}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>


</html>
