@charset "utf-8";
/* CSS Document */
/*重置默认样式*/
*{margin:0 auto;padding:0;list-style:none;}
body{font:12px "微软雅黑" ;text-align:center; }
a{color:#333;text-decoration:none;}
img{border:0;}
.zoom{zoom:1}
/*公共样式*/


/*字体颜色*/
.orange{color:#ff3a27;}
.green{color:#23c187;}
.yellow{color:#ffb957;}
.white{color:#fff;}
.gray{color:#999;}
.grayer{color:#6f6f6f;}
.bgstyle{background:#f4f4f4;}
.backg{background-color:#eeeeee;}
.bgorange{background:#fe5842;}
.bggreen{background:#23c187;}
.bgyellow{background:#ffb957;}
.bgapply{background: #fef2e2;}/*免费领取页面背景颜色*/
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size: 18px}
.font20{font-size: 20px}
.font30{font-size: 30px;}
.font32{font-size:32px;font-weight:bold;}
.fl{float: left}
.fr{float: right}
.clear{clear:both;}
.mline{padding: 0;border-right:1px dashed #ccc;background: #ddd;height: 12px;_display: inline;overflow: hidden;}
.m1{margin: 23px 30px;}
.m0m15{margin: 0px 15px;}
.m9m30{margin: 9px 30px;}
.mt2{margin-top:2px;}
.mt6{margin-top:6px;}
.mt50{margin-top: 50px;}
.ml75{margin-left:75px;}
.pt9{padding-top:9px;}
.pt10{padding-top: 10px;}
.pt35{padding-top: 35px;}
.pt60{padding-top:60px;}
.pt75{padding-top: 75px;}
.pl14{padding-left:14px;}
.pl6{padding-left:6px;}
.pb50{padding-bottom:50px;}
.w241{width: 241px}
.w150{width: 150px}
.mb8{margin-bottom: 8px}
.mb50{margin-bottom: 50px;}
.ml26{margin-left:26px;}
.tal{text-align: left}
.tar{text-align: right}
.error{font-size:12px;}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"";display: block;}
/*头部*/
.header .nav{border-bottom:2px solid #ff3a27;}
.header .nav ul{height:30px;width: 1124px}
.header .nav ul li{float:left;line-height:30px;}
.header .nav ul li a:hover{color:#ff3a27;}
.header .nav ul.cate li{text-align:center;width: 85px}
.header .nav ul.cate li a{text-align:center;display:inline-block;}
.header .nav ul.cate li a:hover{color:#ff3a27;}
.header .nav .fl{float:right;}
.header{height:128px;margin:0 auto;}
.header .topbar{width:1124px;height:25px;text-align:right;}
.header .topbar span{width:80px;padding:3px 10px 3px 10px;}
.header .topbar span.hr-line{color:#ccc;display:inline;padding:0 10px;}
.header .topbar span.item{display:inline;}
.header .headbox{width:1124px;height:70px;}
.header .headbox .logo{float:left;}
.header .headbox .searchbox{float:right;}
.header .headbox .searchbox .tips-num{float:left;width:100px; vertical-align:middle;display:inline-block;line-height:37px;}
.header .headbox .searchbox #submitform{float:left;}
.header .headbox .searchbox .text{float:left;width:375px;height:37px;border:1px solid #CCC;border-right:none;line-height:37px;}
#searchSubmit {float: left;width:76px;height: 39px;border: 0; background:url(../image/submitbtn.jpg);outline: none;cursor: pointer;}
.header .headbox .searchbox .tips{float:left;;cursor:pointer;}
.tipswrap{float:left;;padding:0 20px 0 20px;}
.tipswrap .tipsbox{float:left;overflow:hidden;}
.tipswrap span{float:left;padding:0 5px 0 5px;}

.findbox{border-bottom:4px solid #ff3a27;}
.findbox .find{width:130px;height:45px;padding-top:20px;background: #ff3a27;border-radius: 65px 65px 0 0;color:#fff;}

.findbox .find span{color:#fff;}
.arrow{width:0; height:0; border:5px solid #fff;border-color:#fff transparent transparent; } 
.findwrapper .fcbox{background: rgba(0,0,0,0.5);}
.findwrapper .findcontent{width:1094px;height:328px;background: #6c6060;padding:45px 15px 70px 15px;}
.findwrapper .findcontent ul li{float: left;}
.findwrapper .findcontent ul li.liw1 {width:132px;height:263px;}
.findwrapper .findcontent ul li.liw1 .squre{}
.findwrapper .findcontent ul li.liw2 {width:270px;height:263px;}
.findwrapper .findcontent ul li .squre{width:132px;height:132px;vertical-align: center;background:#e3dfe0;}

.findwrapper .findcontent ul li .squre .icon{display:inline-block;width:55px;height:55px;background-image:url(../image/male.png);}
.findwrapper .findcontent ul li .squre .icon_male{background-position:0 0; }
/*底部*/
.footer{width:100%;height:300px;background:#fff;}
.footer .footbox{margin:0 auto;width:1124px;height:200px;background:#fff;padding:50px 0;line-height:30px;}
.footer .footbox .about{float:left;width:179px;border-right:1px dotted #CCC;}
.footer .footbox .cooper{float:left;width:230px;}
.footer .footbox .weixin{float:left;width:300px;border-right:1px dotted #CCC;border-left:1px dotted #CCC;text-align:center;}
.footer .footbox .weixin .wxlogo{padding-left:50px;}
.footer .footbox .weixin .wxpic{margin:0 auto;width:100px;height:95px;overflow:hidden;background:url(../image/qr_img.png);background-position:-33px -58px;}
.footer .footbox .abtitle{padding-bottom:10px;}
.footer .copyright{font-size:12px;padding-bottom:30px;}
