<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>收藏中心</title>
	<link rel="stylesheet" href="__STATIC__/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_manager.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_list.css" type="text/css" />
    <script type="text/javascript" src="__STATIC__/js/jquery-1.8.2.js" ></script>
    <script type="text/javascript" src="__STATIC__/js/topNav.js" ></script>
</head>
<body>
		<!-- Header  -wll-2013/03/24 -->
	<include file="public/header"/>

	<!-- Header End -->	

	<!-- 我的个人中心 -->
	<div class="shop_member_bd clearfix">
		<!-- 左边导航 -->
        <include file="public/left"/>
		<!-- 左边导航 End -->
		
		<!-- 右边购物列表 -->
		<div class="shop_member_bd_right clearfix">
			
			<div class="shop_meber_bd_good_lists clearfix">
				<div class="title"><h3>我的收藏</h3></div>
				
				<!-- 商品列表 -->
			<div class="shop_bd_list_content clearfix">
				<ul>
					<volist name="cglist" id="value">
                    <li>
						<dl>
							<dt><a href="{:U('Home/Goods/details',array('id'=>$value['id']))}"><img src="__PIC__{$value.goodspic}" /></a></dt>
							<dd class="title"><a href="">{$value.goodsname}</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>{$value.price}</strong></span>
								<span class="goods_chengjiao"><a href="javascript:del({$value['id']})">删除</a></span>
							</dd>
						</dl>
					</li>
                    </volist>


				</ul>
			</div>
			<div class="clear"></div>
			<div class="pagination"> 
				<ul><li><span>首页</span></li>
					<li><span>上一页</span></li>
					<li><span class="currentpage">1</span></li>
					<li><span>下一页</span></li>
					<li><span>末页</span></li>
				</ul> 
			</div>
			<!-- 商品列表 End -->

			</div>
		</div>
		<!-- 右边购物列表 End -->

	</div>
	<!-- 我的个人中心 End -->

	<!-- Footer - wll - 2013/3/24 -->
	<include file="public/footer"/>
	<!-- Footer End -->
</body>
<script>
    function del(id){
        $.post("{:U('Home/MemberCenter/del_favor')}", {'id': id}, function (res) {
            if (res.status == 'ok') {
                layer.alert(res.msg, {
                    yes:function(){
                        location.href="";
                    }
                });
            } else {
                layer.alert(res.msg);
            }
        })
    }
</script>

</html>