<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>修改个人资料</title>
	<link rel="stylesheet" href="__STATIC__/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_manager.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_form.css" type="text/css" />
    <script type="text/javascript" src="__STATIC__/js/jquery-1.8.2.js" ></script>
    <script type="text/javascript" src="__STATIC__/js/topNav.js" ></script>
    <script type="text/javascript" src="__STATIC__/js/geo.js"></script>
</head>
<body  onload="setup();preselect('河南省');promptinfo();">
		<!-- Header  -wll-2013/03/24 -->
	<include file="public/header"/>

	<!-- Header End -->	

	<!-- 我的个人中心 -->
	<div class="shop_member_bd clearfix">
		<!-- 左边导航 -->
        <include file="public/left"/>
		<!-- 左边导航 End -->
		
		<!-- 右边购物列表 -->
		<div class="shop_member_bd_right clearfix">
			
			<div class="shop_meber_bd_good_lists clearfix">
				<div class="title"><h3>个人信息</h3></div>
				<div class="clear"></div>
				<div  class="shop_home_form">
					<form action="" name="" class="shop_form" method="post">
						<ul>
                            <volist name="grxx" id="value"  key="k" empty="$empty" >

                            <li><label for="">&nbsp;&nbsp;&nbsp;&nbsp;用户名称：</label>{$value.username}</li>

                            <li><label for="">电子邮件：</label>{$value.email}</li>
                                <li><label for="">性&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
                                    {$value.sex}

                                </li>

                            <li><label for="">电&nbsp;&nbsp;&nbsp;&nbsp;话:</label>{$value.mobile}</li>
                            <li><label for="">联系地址:</label>
                                {$value.address}
                            </li>

						</volist>
                        </ul>
					</form>
				</div>
			</div>
		</div>
		<!-- 右边购物列表 End -->

	</div>
	<!-- 我的个人中心 End -->

	<!-- Footer - wll - 2013/3/24 -->
	<div class="clear"></div>
        <include file="public/footer"/>
	<!-- Footer End -->
</body>



</html>