<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本信息</title>
    <link rel="stylesheet" href="__STATIC__/style/member.css">
    <script src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__STATIC__/js/password.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/password.css" />
    <link rel="stylesheet" href="__STATIC__/css/reset.css" />
    <script src="__STATIC__/js/YMDClass.js"></script>
    <script src="__STATIC__/js/jquery.form.js"></script>
    <script src="__STATIC__/js/jquery.validate.js"></script>
    <link rel="stylesheet" href="__STATIC__/js/uploadify.css">
    <script src="__STATIC__/js/jquery.uploadify.min.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>

    <style type="text/css">
        input.error{
            border: 1px solid #EA5200;
            background: #ffdbb3;
        }
        label.error{
            background:url("__STATIC__/images/error.png") no-repeat 5px 2px;
            padding-left:18px;
            color:#ff0300;
            font-weight: bold;
            font-size: 13px;
        }
        label.ok {
            background:url("__STATIC__/images/ok.png") no-repeat 5px 2px;
        }
    </style>
</head>
<body>

<!--  顶部开始 -->
<include file="header" />

    <!-- 导航搜索栏 -->
 


<div class="cont">
    <div class="cont_bg">
        <ul class="sidebar">
            <li class="touxiang"><img src="__STATIC__/images/touxiang.jpg"><p>{$username}</p>
            </li>
            <li class="gongneng" style="background: #f1f1f1;"><a href="{:U('Centre/member')}">首页</a></li>
            <li><a href="{:U('Centre/member')}">会员中心</a></li>
            <li><a href="{:U('Centre/order')}">我的订单</a></li>
            <li><a href="{:U('Centre/password')}">个人信息</a></li>
            <li><a href="{:U('Centre/address')}">收货地址</a></li>
        </ul>
    
     <!-- tab -->
    <div class="news">
        <ul class="clearfix">
            <li><a href="#">基本信息</a></li>
            <li><a href="#">修改密码</a></li>
            
        </ul>
        <div class="text">
                <form action="{:U('Member/memberinfo')}" method="post" id="xiugai">
                    用户名：<input name="username" class="form1" type="text" id="username" value=""/><br />
                    <p class="p2">手机号：<input type="text" class="tel" name="mobile"><span class="red"></span><span id="msgTel" class="tips"></span></p><br />
                    <p class="p3">E-mail：<input type="text" class="e_mail" name="email"><span id="msgMail" class="tips"></span></p><br />
                    <!-- <h2 id="baocun">保存</h2>-->
                   <!-- <h2 class="baocun" style="cursor:pointer;margin-left: 100px;">保存</h2>-->
                </form>
                       <button id="baocun" style="background-color:#EC0909;width:200px;height: 35px; margin-left: 180px;font-size: 20px;font-weight: bold;">保存</button>
          </div>
       
       <div class="text02 clearfix">
           <form action="{:U('Centre/code')}" method="post" id="repwd">
            <!--<p style="height:34px;  margin-right: 155px;line-height: 34px;">用户名： {$username}</p>-->
            <p>输入原密码：<input type="password" name="pwd1"><span class="mima01"></span></p><br />
            <p>新密码：<input type="password" name="pwd"><span class="mima02"></span></p><br />
            <p>确认密码：<input type="password" name="repwd"><span class="mima03"></span></p><br />

           </form>
           <p class="xiugai"><input name="" type="submit" class="btn" value="确认修改"/></p>
           <!--<h2 class="baocun" style="cursor:pointer;margin-left: 100px;">保存</h2>-->
       </div>
     
    </div>
    </div>
</div>


<!-- 底部开始 -->
<include file="footer" />

    
</body>
<script>
    function logout(){
        //询问框
        layer.confirm('您确定要退出个人中心?', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.get("{:U('Member/logout')}",'',function(res){
                if(res.status=='ok'){
                    location.replace("{:U('Centre/index')}")
                }else{
                    location.reload();
                }
            })
        });
    }
</script>
<script type="text/javascript">
    //上传插件
    function chkimg(){
        var photo=document.getElementById('photo').value;
        var last=photo.lastIndexOf('.');
        if (photo.substr(last)=='.jpg'||photo.substr(last)=='.jpeg'||photo.substr(last)=='.png') {
            document.getElementById('tp').src='__STATIC__/images/110_'+photo;
        }else{
            alert('图片格式不正确')
        }
    }
    document.getElementById('photo').onchange=chkimg;
</script>
<script type="text/javascript">

    /*function chkimg(){
        var photo=document.getElementById('photo').value;
        var last=photo.lastIndexOf('.');
        if (photo.substr(last)=='.jpg'||photo.substr(last)=='.jpeg'||photo.substr(last)=='.png') {
            document.getElementById('tp').src='__STATIC__/images/'+photo;
        }else{
            alert('图片格式不正确')
        }
    }
    document.getElementById('photo').onchange=chkimg;*/

    $(function(){
        var validate=$("#form1").validate({
            //设置验证规则
            rules:{ //规则
                nickname: {         //昵称
                    required: true, //昵称不能为空
                    minlength: 2,   //昵称最小长度为两个字符
                    maxlength: 10  //昵称最大长度为两个字符

                },

                email:{              //邮箱
                    required:true,   //邮箱不能为空
                    email:true       //邮箱格式
                },
                birthday:{           //出生年月
                    required:true,   //出生年月不能为空
                    dateISO:true     //ISO日期格式
                },
                mobile:{             //手机号
                    required:true,   //手机号不能为空
                    mobile:true      //手机格式？
                }
            },
            //设置提示信息
            messages:{
                username:{
                    required:'用户名不能为空',
                    minlength:'用户名至少需要2个字符',
                    maxlength:'用户名最多10个字符',
                    remote:'用户名已被占用'
                },
                email:{
                    required:'邮箱不能为空',
                    email:'你的邮箱格式不正确'
                },
                birthday: {
                    required: '生日不能为空',
                    dateISO: '日期格式不正确'
                },
                mobile:{
                    required:'手机号码不能为空',
                    mobile:'手机号码格式不正确'
                }
            },
            success: function(label) {
                label.addClass("ok");
            },
            validClass: "ok",
            errorPlacement: function(error, element) {
                error.appendTo( element.parent());
            }


        })
        //jQuery Validate(表单验证)得到焦点
        jQuery.validator.onfocus=true;
        // 邮政编码验证
        jQuery.validator.addMethod("postCode", function(value, element) {
            var codeReg= /^[0-9]{6}$/;
            return this.optional(element) || (codeReg.test(value));
        }, "请正确填写您的邮政编码");

        //手机号验证
        jQuery.validator.addMethod("mobile", function(value, element) {
            var mobileReg = /^1[34578]{1}[0-9]{9}$/;
            return this.optional(element) || (mobileReg.test(value));
        }, "请正确填写您的手机号码");
        //jQuery Form（AJAX表单提交）



    })



    $('#baocun').click(function(){
        layer.confirm("你确定保存吗？",{
            btn:['确定','取消']
        },function(){
            $.post("{:U('Member/memberinfo')}",$('#xiugai').serialize(),function(res){
                if(res.status=='ok'){
                    layer.msg('保存成功')
                }else{
                    layer.msg('保存失败')
                }
            })
        })
    })


    $('.xiugai').click(function(){
        layer.confirm("你确定修改吗？",{
            btn:['确定','取消']
        },function(){
            $.post("{:U('MemberCenter/repwd')}",$('#repwd').serialize(),function(res){
                if(res.status=='ok'){
                    layer.msg('修改成功')
                }else{
                    layer.msg('修改失败')
                }
            })
        })
    })
</script>

<script type="text/javascript">
    new YMDselect('year','month','day',1992,11,25);
</script>
</html>
