<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__STATIC__/css/css.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/css/common.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/Threelinkage/linkage.css" rel="stylesheet"  type="text/css"/>
    <script src="__STATIC__/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="__STATIC__/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="__STATIC__/js/common_js.js" type="text/javascript"></script>
    <script src="__STATIC__/js/layer/layer.js" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/images/logo.ico" media="screen" />

    <title>用户中心</title>
    <style type="text/css">
        .myul{ float: right; }
        .myli{ float: right; width: 100px; height: 43px; font-size: 16px; text-align: center; line-height: 43px; cursor: pointer;}
        .myli:hover{ border-bottom: solid 3px #ff5555; }
        .myliSel{ border-bottom: solid 3px #ff5555; }
        .myli a:hover{ color:#000;}

        .page div a{ display: inline-block;font-size:16px;width: 30px; height: 30px; line-height: 30px; text-align: center; border-radius: 3px; border: 1px solid #ccc; margin: 0px 5px; }
        .page div a:hover{ background-color: #ccc;}
        .page div .current{ display: inline-block;font-size:16px;width: 30px; height: 30px; line-height: 30px; text-align: center; border-radius: 3px; border: 1px solid #ccc; margin: 0px 5px; background-color: #ccc;}
        .page div .rows{ display: inline-block;font-size:16px; height: 30px; line-height: 30px; text-align: center;   margin: 0px 5px; }
    </style>
</head>
<script type="text/javascript">
    $(function(){


        $("#ckshgz").click(function(){
            layer.alert("从确认收货时间开始，一星期内发现商品有质量、包装的等问题可以申请售后，但需要顾客先垫付邮费，售后结束再将邮费补偿给顾客。(没有确认收货的商品，会在付款后一个星期自动确认收货)",{title:"申请售后规则"});
        })

        sqsh=function(id){
            $.post("{:U('Order/chkHis')}",{id:id},function(res){
                if(res.status==1){
                    layer.confirm("请选择售后类型？",{btn:['我要换货','我要退货'],title:"请选择"},function(){
                        location="{:U('Order/erGoods')}?hid="+id+"&type=1";
                    },function(){
                        location="{:U('Order/erGoods')}?hid="+id+"&type=2";
                    });
                }else{
                    layer.alert("该商品已经申请过售后了，请在我申请的售后中查看")
                }

            },'json');

        }

    })
</script>
<body>
<!--顶部样式-->

<!--logo和搜索样式-->
<include file="Public/header"/>
<!--导航栏样式-->

<!--用户中心(地址管理界面)-->
<div class="user_style clearfix" id="user">
    <div class="user_title"><em></em>用户中心</div>
    <div class="clearfix user" >
        <!--左侧菜单栏样式-->
        <div class="user_left">
            <if condition="!isset($_SESSION['avatar1'])">
                <div class="user_info">
                    <div class="Head_portrait"><a href="{:U('UserCenter/usercenter')}"><img src="__STATIC__/images/deavatar.jpg"   style="width:100px; height:100px;border-radius: 50px"/></a><!--头像区域--></div>
                    <div class="user_name">用户{$Think.session.ybc_username}<!--<a href="#">[个人资料]</a>--></div>
                </div>
                <else/>
                <div class="user_info">
                    <div class="Head_portrait"><a href="{:U('UserCenter/usercenter')}"><img src="__ROOT__/Uploads/avatar/100/100_{$Think.session.avatar1}"  width="100px" height="100px"/></a><!--头像区域--></div>
                    <div class="user_name">用户{$Think.session.ybc_username}<!--<a href="#">[个人资料]</a>--></div>
                </div>
            </if>
            <ul class="Section">
                <li><a href="{:U('UserCenter/userinfo')}"><em></em><span>个人信息</span></a></li>
                <li><a href="{:U('UserCenter/changepassword')}"><em></em><span>修改密码</span></a></li>
                <li><a href="{:U('Order/myOrderList')}"><em></em><span>我的订单</span></a></li>
                <li><a href="{:U('UserCenter/myComment')}"><em></em><span>我的评价</span></a></li>
                <li><a href="{:U('UserCenter/userintegral')}"><em></em><span>我的积分</span></a></li>
                <li><a href="{:U('UserCenter/usermsg')}"><em></em><span>我的消息</span></a></li>
                <li><a href="{:U('UserCenter/myCollect')}"><em></em><span>我的收藏</span></a></li>
                <li><a href="{:U('Order/myAddress')}"><em></em><span>收货地址管理</span></a></li>
                <li><a href="{:U('Order/history')}"><em></em><span>已购买的商品</span></a></li>
            </ul>
        </div>

        <!--右侧内容样式-->
        <div class="right_style r_user_style">
            <div class="user_Borders">
                <!--地址列表-->
                <div class="Address_List">
                    <div class="title_name"><span class="name">已购买的商品</span>

                            <a style="float: right;" href="{:U('Order/myServices')}">【我申请的售后】</a>

                    </div>

                    <div class="list">
                        <empty name="history['list']">
                            <h1 style="color: red">你还没有购买过任何商品，赶紧去shopping吧！</h1>
                            <else />
                            <table style="margin-bottom: 30px;">
                                <thead>
                                <td class="list_name_title0">商品图片</td>
                                <td class="list_name_title1">商品名称</td>
                                <td class="list_name_title2">购买价格</td>
                                <td class="list_name_title3">购买数量</td>
                                <td class="list_name_title4">购买时间</td>
                                <td class="list_name_title5">操作</td>
                                </thead>
                                <volist name="history['list']" id="va">
                                    <tr>
                                        <td><a href="{:U('Detail/detail')}?id={$va.gid}"><img src="__ROOT__/Uploads/goodsPic/100/100_{$va.pic}" alt=""/></a></td>
                                        <td><a href="{:U('Detail/detail')}?id={$va.gid}">{$va.goodsname}</a></td>
                                        <td>{$va.price}</td>
                                        <td>{$va.buynum}</td>
                                        <td>{:date("Y-m-d",$va['buytime'])}</td>
                                        <td>
                                            <if condition="$va['buytime'] gt $time">
                                                <a onclick="sqsh({$va.id})" style="cursor: pointer">申请售后</a>
                                                <else />
                                                不可申请
                                            </if>

                                        </td>
                                    </tr>
                                </volist>

                            </table>

                        </empty>
                        <div class="page" style=" float:left;">{$history['show']}</div>
                        <a id="ckshgz" style="float: right;font-size: 16px;display: inline-block;background-color: #ccc;padding: 5px; border-radius: 3px;cursor: pointer;">点击查看申请售后规则</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>

</body>
</html>