<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="__SKIN__/Home/css/common.css" rel="stylesheet" tyle="text/css" />
    <link href="__SKIN__/Home/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__SKIN__/Home/css/Orders.css" rel="stylesheet" type="text/css" />
    <link href="__SKIN__/Home/css/jd.css" rel="stylesheet" type="text/css"/>
    <link href="__SKIN__/Home/css/jd-1.css" rel="stylesheet" type="text/css"/>
    <link href="__SKIN__/Home/css/jd-2.css" rel="stylesheet" type="text/css">
    <script src="__SKIN__/Home/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="__SKIN__/Home/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
   <script src="__SKIN__/Home/js/search.js" type="text/javascript"></script>
    <script src="__SKIN__/Home/js/md5.js" type="text/javascript"></script>
</head>
<script src="__SKIN__/Home/js/gt.js"  type="text/javascript"></script>
<script src="__SKIN__/Home/js/layer/layer.js" type="text/javascript"></script>
<script>
    function validFindPwdCode(){
        var code=$('#code').val();
        if(code==''){
            layer.msg("请填写验证码")
        }else{
            $.ajax({
                url:'{:U("Users/code_send")}',
                type:'post',
                data:{'code':$('#code').val()},
                error:function(){
                    layer.msg('网络错误')
                },
                success:function(msg){
                    if(msg==0) {
                        layer.msg('验证码错误')
                    }else if(msg==2){
                        layer.msg('未注册手机号 请重新注册')
                    }else{
                        if(msg==1){
                            location.href='{:U("Users/setPwdTwo")}'
                        }

                    }
                }
            })

        }
    }
</script>

<script>
    var InterValObj;
    var count=60;
    var curCount;
    function Code(){
        var mobile=$('#mobile').val();
        if(mobile!==''){
            $.ajax({
                url: '{:U("Users/send_code")}',
                type: 'post',
                data: {'mobile': $('#mobile').val()},
                error:function(){
                    layer.msg("网络错误")
                    $('#sendMobileCode').val("重新获取");
                },
                success:function(msg){
                    if(msg==0){
                        layer.msg("网络错误 请重新发送")
                    }else if(msg==1) {
                        layer.msg("验证码已发送 请注意接收")
                        curCount=count;
                        $("#sendMobileCode").attr("disabled",true);
                        $("#sendMobileCode").val(curCount+'秒后可重新获取');
                        InterValObj=window.setInterval(SetRemainTime,1000);
                        $('#code').attr("disabled",false);
                    }else{
                        if(msg==2 ){
                            layer.msg('网络错误 请重新获取');
                            $('#sendMobileCode').val("重新获取")
                        }
                    }
                }
            })
        }
    }
    function SetRemainTime(){
        if(curCount==0){
            window.clearInterval(InterValObj);
            $("#sendMobileCode").removeAttr("disabled");
            $("#sendMobileCode").val("重新获取");
        }else{
            curCount--;
            $("#sendMobileCode").val(curCount+"秒后可重新获取");
        }
    }
</script>
<include file="Shop/Home/Common/header.html"/>
<include file="Shop/Home/Common/topMenu.html"/>
<body>

<form method="post" action="{:U('Users/send_email')}" name="form1" id="form1">
    <input type="hidden" name="id" value="{$data.id}"/>
    <div id="container" style="width: 85%; background-color: #FFFFFF;">
        <div id="content">
            <div class="mod-main mod-comm">
                <div class="mt">
                    <h3>找回密码</h3>
                </div>
                <div class="mc">
                    <div id="sflex04" class="stepflex ">
                        <dl class="first done">
                            <dt class="s-num">1</dt>
                            <dd class="s-text">填写账户名<s></s><b></b></dd>
                            <dd></dd>
                        </dl>
                        <dl class="normal doing">
                            <dt class="s-num">2</dt>
                            <dd class="s-text">验证身份<s></s><b></b></dd>
                        </dl>
                        <dl class="normal">
                            <dt class="s-num">3</dt>
                            <dd class="s-text">设置新密码<s></s><b></b></dd>
                        </dl>
                        <dl class="last">
                            <dt class="s-num">&nbsp;</dt>
                            <dd class="s-text">完成<s></s><b></b></dd>
                        </dl>
                    </div>

                    <div class="form formno" style="width: 65%;margin-left: 30%;">
                        <div class="item">
                            <span class="label">请选择验证身份方式：</span>
                            <div class="fl">
                                <select class="selt" id="type" name="" onchange="selectVerifyType();">
                                    <option value="mobile">已验证手机</option>
                                </select>
                                <div class="clr"></div>
                            </div>
                            <div class="clr"></div>
                        </div>

                        <div id="mobileDiv">
                            <div class="item">
                                <span class="label">昵称：</span>
                                <div class="fl">
                                    <strong class="ftx-un">{$data['nickname']}</strong>
                                    <label class="blank invisible" id="username_succeed"></label>
                                    <div class="clr"></div>
                                    <!-- <div class="msg-text">若该手机号无法接收验证短信，请拨打客服电话400-606-5500转7申诉更改验证手机</div> -->
                                </div>
                                <div class="clr"></div>
                            </div>

                            <div class="item">
                                <span class="label">已验证手机：</span>
                                <div class="fl">
                                    <strong id="mobileSpan" class="ftx-un">{$data['mobile']|substr_replace='*****',3,5}</strong>
                                    <input type="hidden"  id="mobile"    value="{$data['mobile']}"/>
                                    <div class="clr"></div>
                                    <!-- <div class="msg-text">若该手机号无法接收验证短信，请拨打客服电话400-606-5500转7申诉更改验证手机</div> -->
                                </div>
                                <div class="clr"></div>
                            </div>

                            <div class="item">
                                <span class="label">请填写手机校验码：</span>
                                <div class="fl">
                                    <input class="itxt" name="code" tabindex="1" id="code" onblure="checkCode();" onfocus="codeFocus();" onblur="codeBlur();" disabled="" type="text">
                                    <!-- <a href="javascript:void(0)" class="btn btn-10 ml10" onclick="code()" id="sendMobileCode"><s></s>获取短信校验码</a>-->
                                    <input type="button" id="sendMobileCode" value="获取短信校验码" class="btn btn-10 ml10" onclick="Code()">
                                    <div class="clr"></div>
                                    <div id="timeDiv" style="display:none" class="msg-text">校验码已发出，请注意查收短信，如果没有收到，你可以在<strong class="ftx-01">120</strong>秒后要求系统重新发送</div>
                                    <div id="code_error" class="msg-error"></div>
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="item">
                                <span class="label">&nbsp;</span>
                                <div class="fl">
                                    <a href="javascript:void(0);" tabindex="8" id="submitCode" disabled="disabled" onclick="validFindPwdCode();" class="btn-5">提交</a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<include file="Shop/Home/Common/footer.html"/>
i</html>