<div class="shop_member_bd_left clearfix">

    <div class="shop_member_bd_left_pic">
        <a href="{:U('Home/MemberCenter/photo')}"><img src="__PIC__{$photo}" /></a>
    </div>
    <div class="clear"></div>
    <dl>
        <dt>我的账户</dt>
        <dd><span><a href="{:U('Home/MemberCenter/grxx')}">个人资料</a></span></dd>
        <dd><span><a href="{:U('Home/MemberCenter/password_edit')}">密码修改</a></span></dd>
        <dd><span><a href="{:U('Home/MemberCenter/member_info')}">完善个人信息</a></span></dd>
    </dl>
    <dl>
        <dt>收货地址</dt>
        <dd><span><a href="{:U('Home/Address/address')}">收货地址管理</a></span></dd>
    </dl>
    <dl>
        <dt>我的交易</dt>
        <dd><span><a href="{:U('Home/MemberCenter/order')}">已购买商品</a></span></dd>
        <dd><span><a href="{:U('Home/MemberCenter/favorite')}">我的收藏</a></span></dd>
        <dd><span><a href="{:U('Home/MemberCenter/comment')}">评价管理</a></span></dd>

    </dl>
</div>