<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, maximum-scale=1.0, minimum-scale=1.0">

<title>个人中心</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="__MOBILE__/Mobile/css/personal.css" rel="stylesheet">
    <link href="__MOBILE__/Mobile/css/address.css" rel="stylesheet">
<script src="__MOBILE__/Mobile/js/jquery-1.9.1.min.js"></script>
<script>
  
$(function(){
    function w() {
    var r = document.documentElement;
    var a = r.getBoundingClientRect().width;
    // console.log(a);
        if (a > 750 ){
            a = 750;
        } 
        rem = a / 7.5;
        r.style.fontSize = rem + "px"
    }
    var t;
    w();
    window.addEventListener("resize", function() {
        clearTimeout(t);
        t = setTimeout(w, 300)
    }, false);

    //查看订单
    $(".order ul li").click(function(){
        var index=$(this).index()+1;
        location.href="{:U('Order/order')}?status="+index;
    })
});

</script>
    <style>
        #left{ margin-left: -110px;  }
      #right{margin-left: -10px;  }
        #left,#right   {width:30px;height: 20px;font-size: 12px; float:left;border:1px   solid #f82032;   padding:2px -1px 2px -1px; margin-top: 68px;}

    .name{
        color: #333;
        margin-top: 3px;
        margin-left: -20px;
    }
        .out{
            color: rgba(187, 187, 187, 0.81);
            font-size: 13px;
            margin-top: 12px;

        }
        .fh{
            font-size: 16px;
        }

    </style>
</head>
<body>
<!--头部 开始-->
<div class="header">
    <div class="wrapper">
        <p><a href="{:U('Index/index')}" class="fh"><img src="__MOBILE__/Mobile/JBen/images/back.png" style="height: 27px ;width: 30px;margin-top: 12px;background-color:  #1f1f1f;margin-left: -27px" >返回</a></p>
        <h2><a href="#">个人中心</a></h2>
        <!--<ul class="menu">
            <li></li>
            <li></li>
            <li></li>
        </ul>-->
    </div>
</div>
<div class="m_menu hidden">
    <div>
        <i class="rotate45"></i>
        <a href="/"><span><i class="m_bg"></i></span></a>
        <a href="/category/"><span><i class="m_bg"></i></span>分类搜索</a>
        <a href="/cart/"><span><i class="m_bg"></i></span>购物车</a>
        <a href="/member/"><span><i class="m_bg"></i></span>我的拍鞋</a>
    </div>
</div>
<!--头部 结束-->

<!--个人中心 开始-->
 <div class="person clearfix">
     <?php
     if(isset($_SESSION['uid']) or $_SESSION['uid']>0){
     ?>
    <div class="wrapper">
        <div class="img fl">
            <a href="{:U('MyInfo/myInfo')}" style="cursor: pointer;" title="修改头像">
                <img src="/uploads/avatar/{$Think.session.avatar}" style="width: 60px;height: 60px;cursor: pointer;" alt="头像"/>
            </a>
        </div>
       <div class="fl">

            <h3 class="name">{$Think.session.username}<span class="out"><a href="{:U('Users/out')}">[退出]</a></span></h3>
        </div>
    </div>
     <?php
     }else{
     ?>
     <div class="img fl">
             <img src="__MOBILE__/Mobile/Jben/images/logo2.png" style="width: 60px;height: 60px;cursor: pointer;" alt="头像"/>
         </a>
     </div>
     <div class="fl-2">
         <div id="f2">
             <div id="left"><a href="{:U('Users/register')}">注册</a></div>
             <div id="right"><a href="{:U('Users/login')}">登陆</a></div>
             <div style="clear: both"></div>
             <p></p>
         </div>
     </div>
     <?php
     }
     ?>
</div>
<!--个人中心 结束-->

<!--订单 开始-->
<div class="order">
    <div class="wrapper">
    <p class="p"><a href="{:U('Order/order')}">全部订单<i>></i></a></p>
    <ul>
          <li class="first"><p><img src="__MOBILE__/Mobile/imgs/icon_09.png" alt=""></p><p>待付款</p></li>
          <li class="second"><p><img src="__MOBILE__/Mobile/imgs/icon_11.png" alt=""></p><p>待发货</p></li>
          <li class="three"><p><img src="__MOBILE__/Mobile/imgs/icon_13.png" alt=""></p><p>待收货</p></li>
          <li class="four"><p><img src="__MOBILE__/Mobile/imgs/icon_03.png" alt=""></p><p>待评价</p></li>
          <li class="last"><p><img src="__MOBILE__/Mobile/imgs/icon_06.png" alt=""></p><p>退款</p></li>
    </ul>  
    </div>
</div>
<!--订单 结束-->

<!--收藏 开始-->
<div class="collect">
    
    <ul>
        <li class="li01"><a href="{:U('Member/collect')}"><img src="__MOBILE__/Mobile/imgs/collect_21.png" alt="">我的收藏夹</a><i>></i></li>
        <li class="li02"><a href="{:U('MyInfo/myInfo')}"><img src="__MOBILE__/Mobile/imgs/bb.png" alt="">我的资料</a><i>></i></li>
        <li class="li03"><a href="{:U('Address/address')}"><img src="__MOBILE__/Mobile/imgs/collect_28.png" alt="">我的收货地址管理</a><i>></i></li>
    </ul>
</div>
<!--收藏 结束-->

<!--猜你喜欢 开始-->

  <div class="like">
   
        <h3>猜你喜欢</h3>
        <p class="change">换一批</p>
        <ul>
            <li><img src="__MOBILE__/Mobile/imgs/tu_07.png" alt="" class="img01"><p>韩后水动力补水<br>嫩白提亮套装</p><b>￥99</b>
            </li>
            <li><img src="__MOBILE__/Mobile/imgs/tu_04.png" alt="" class="img02"><p>韩后水动力补水<br>嫩白提亮套装</p><b>￥99</b></li>
            <li><img src="__MOBILE__/Mobile/imgs/tu_03.png" alt="" class="img03"><p>女神专属夏季女<br>长袖白色上衣</p><b>￥99</b></li>
        </ul>
     
   </div>
<!--猜你喜欢 结束-->

<!--底部导航  开始-->
<include file="Shop/Mobile/Common/footer.html" />
<!--底部导航  结束-->

<script type="text/javascript">
    $(function(){
        $(".i4").parent().addClass('on');
    })
</script>
</body>
</html>