<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/theme.css">
<link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.3.2.min.css">
<body>
<div data-role="dialog"  id="reg-tips" >
    <div data-role="content" class="tip">
        <p>注册成功，请重新登录</p>
        <a href="index.html" data-ajax="false" data-role="button">确定</a>
    </div>
</div>
</body>
</html>