/*购物车页面样式*/
@charset "utf-8";
/* CSS Document */
html,body, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, th, td{margin: 0; padding: 0; border: 0; outline: none;font-family:Microsoft YaHei,Microsoft JhengHei,Arial,Verdana,"宋体"; font-size:12px;}
div,form,ul,ol,li,span,p,dl,dt,dd,img{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
html{_text-overflow: ellipsis;}
ul,ol,li{list-style:none}
table,td,input,textarea{font-size:12px;}
a{text-decoration:none;color:#434343;outline:none;}
a:hover{ text-decoration:underline;}
input{ outline:none;}
i,em{ font-style:normal}
.inptext{height: 22px;line-height: 22px;padding: 5px;border: 1px solid #cbcbcb;-moz-border-radius:3px 3px 3px;-webkit-border-radius:3px 3px 3px;border-radius:3px 3px 3px;}
.inpbtn{text-align: center;font-weight:700; -moz-border-radius:3px 3px 3px;-webkit-border-radius:3px 3px 3px;border-radius:3px 3px 3px;cursor: pointer;}
.shadow{box-shadow:0px 3px 2px #ddd;-moz-box-shadow:0px 3px 2px #ddd;-webkit-box-shadow:0px 3px 2px #ddd;}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }


.buyer_day{padding: 10px;}
.wrapper{border-top: 2px solid #DFDFDF;}
.wrapper span{width: 120px;height:35px;line-height:35px;display: block;border: 2px solid #0093DD;border-top: 2px solid #DFDFDF; margin-top: -2px;text-align: center;font-size: 14px;color:#0093DD }
.summary{margin: 10px 0 20px;border-bottom: 1px solid #E4E4E4;border-top:1px solid #E4E4E4;background-color: #FDF2EF;}
.summary li{width:20%;padding:20px 0 20px 4%;border-right: 1px solid #E4E4E4;border-top: 1px solid #fff;border-bottom: 1px solid #fff; float: left;margin: 1px 0;}
.summary li p{line-height: 22px;}
.summary_title{color: #999;font-size: 14px;}
.summary_sum{color: #434343;}
.column_form{padding: 10px 0;}
.column_form input{vertical-align: middle;}
.column_form label{padding: 0 5px;cursor: pointer;}
.cylinder{padding: 20px;padding-top:0; text-align: center;}
.select_title{width: 120px;height:35px;line-height:35px; border-radius:8px 8px 0px 0px;border:1px solid #DFDFDF;border-bottom:0 none;background-color:#F9F9F9; position:relative;text-align: center;font-size: 14px;color:#444; font-weight:700;}
.day_select{padding:30px 10px 20px;border-top: 1px solid #DFDFDF; margin-top: -1px;background-color:#F9F9F9; }
#loginTJ label{padding-left:18px;}
.Wdate{width:185px;padding: 5px 0;border: 1px solid #DFDFDF}
.userId{width:180px;height:18px;line-height:18px;padding: 5px;border: 1px solid #bbb}
.day_time{width:1050px;}
.day_time label{padding-left: 15px;font-size: 12px;}
.day_time select{height:22px;line-height:22px; margin:0 10px;padding: 0 10px;}
.day_username{padding: 20px 0;}
.select_button{width: 80px;height: 28px;line-height: 28px;background: #EEF2FB;border: 1px solid #0093DD;color: #0093DD;cursor: pointer;}
.day_list tr{height:32px;line-height:32px;text-align:left;}
.day_list thead{background-color:#676767;color: #fff;font-size: 12px;}
.day_list .xuhao{width:3%;text-align: center;}
.day_list .username{width:6%;}
.day_list .userlogin{width:12%;}
.day_list .userpv{width:8%;}
.day_list .usertime{width:12%;}
.day_list .userip{width:8%;}
.day_list .websort{width:8%;}
.day_list tbody td{border-bottom: 1px solid #E5E5E5}

#pageBody a{ color:#00A3EC}
#pageBody a:hover{ color:#444!important}
.day_time01,.day_time02{ padding-bottom:10px;}
.day_time01 input,.day_time02 input{width:200px; height:22px; line-height:22px; padding:5px; padding-right:2px; border:1px solid #ddd;}
.day_time01 label,.day_time02 label{ padding:0 10px; font-size:14px;}
.day_time02 select{ width:200px; height:35px; line-height:35px; border:1px solid #ddd;}
.selbtn01,.selbtn02{width:80px!important;height:35px!important; line-height:35px!important; background:#0093DD; color:#fff; font-weight:700; font-size:15px; border:0; margin:0 10px; cursor:pointer;}
.selbtn02{ background:#444;}

#buy{
	height:80px; 
	text-align: right;
	font-size: 16px;
}

#buy b{
	font-weight: bold;
	font-size: 24px;
	color:red;
}
#buy a{
	display: inline-block;
	width: 100px;
	height:30px;
	line-height:30px;
	text-align: center;
	color:white;
	font-size: 20px;
	font-weight: bold;
	border-radius:8px; 
	padding: 5px 10px;
	cursor: pointer;
	
}

#buy .tobuy{
	background: #C40000;
	color:#fff;
	margin:0 50px; 
}
#buy .tobuy:hover{
	background: #ff0000;

}

.listpage{ padding:20px 0; text-align:center;}
.listpage a{ padding:5px 10px;  text-align:center; border:solid 1px #CCCCCC;}
.listpage span{ margin:0 10px;}
.listpage input{ width:30px; margin:0 5px; border:solid 1px #CCCCCC;}
.current{ background-color:#cc0003; color:#FFFFFF;}

.decrement,.increment{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
}
#buynum{
	display: inline-block;
	width: 25px;
	height:25px;
	text-align: center;
	line-height: 19px;
	padding:2px;
	font-weight: bold;
	border: 1px solid #ccc;
}
.ordersta01,.ordersta02,.ordersta03{ padding-left:80px!important;}
.ordersta01{ font-size:16px; font-weight:700; background:url(../<?=SKIN?>/images/orderstate.png) no-repeat 35px 5px;}
.ordersta02{ color:#CCC}
.ordersta02 span{ color:#333; padding:0 5px;}
.ordersta02 span i{ color:#F7980A}
.ordersta03{ margin:10px 0 15px;}
.orderstaa01{ padding:5px 12px; background-color:#D80C18; color:#FFFFFF;}
.orderstaa02{ margin-left:20px; color:#88C6E2}
.orderproduct{}
.orderpro01{ height:40px; line-height:40px; background-color:#F7F7F7; border-bottom:1px solid #D9D9D9}
.orderpro01 span{height:40px; line-height:40px; padding:0 20px;}
.orderpro01 .orderprospan03{ border-right:0}
.orderpro01 span i{ color:#969696}
.orderprocon{ padding:0 20px 20px;}
.orderproinfo{ border-bottom:2px solid #E8E8E8!important}
.orderproinfo span{ font-size:14px; font-weight:700; display:inline-table; width:60px; text-align:center; height:35px; line-height:35px; border-bottom:2px solid #88C6E2; margin-bottom:-2px; color:#000!important;}
.orderprodiv{ padding:12px 0 22px;width:40%; padding-right:5%; float:left;}
.orderprodiv p{ height:35px; line-height:35px;}
.orderprodiv p span{ color:#969696; display:inline-table; width:60px; text-align:right; padding-right:20px;}
.orderinfomation{ width:100%; text-align:center}
.orderinfomation thead tr{ height:35px; line-height:35px; color:#969696; font-weight:700;}
.orderinfomation tbody td{ border:1px solid #E8E8E8;}
.orderdetitle{ width:30%; padding:10px 0;}
.orderdestate{ width:20%;}
.orderdejiage{ width:10%;}
.orderdesum{ width:10%;}
.orderdepinjia{ width:20%;}
.orderdezjia{ width:10%; }
.orderdezjia02{font-weight:700; font-size:14px;}
.orderdetitle img{ float:left;}
.orderdetitle p{ float:left; width:415px; padding:10px;}
.orderdetitle p a,.orderdestatguo{ color:#0088ff}
.orderdetitle p a:hover{ color:#D80C18}
.orderdestameiguo{ color:#F7980A}
.ordersumer{ background-color:#F7F7F7; border:1px solid #e8e8e8; text-align:right;padding-top:20px; padding-right:10px; height:50px; line-height:50px;}
.orderred{ color:#f00;}
.selmore{ padding-left:10px; color:#209FE0}
.wuliucon{position: absolute;left:0;;*top:20px;color:#666;color:#555;z-index:99999;text-align: left;top:180px;width:399px;background-color:#f8f8f8;color: #474747;padding-bottom: 10px;border: 1px solid #88C6E2;padding:15px 8px;display:none}
.wuliuconn{padding:4px;}
.wlconleft{float: left;}
.wlconright{float: left; padding-left:10px; width:160px;text-align: left;}
.wuliudiv{ border: 1px solid #f7980a;padding: 8px;}
.wuliuimg{margin-bottom: -1px;padding-left:95px;vertical-align: bottom;}
.wuliupp i{font-weight: 700;}