<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>管理收货地址</title>
	<link rel="stylesheet" href="__STATIC__/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_manager.css" type="text/css" />
	<link rel="stylesheet" href="__STATIC__/css/shop_shdz_835.css" type="text/css" />
    <script type="text/javascript" src="__STATIC__/js/jquery-1.8.2.js" ></script>
    <script type="text/javascript" src="__STATIC__/js/topNav.js" ></script>
    <script type="text/javascript" src="__STATIC__/js/geo.js" ></script>
</head>
<body onload="setup();preselect('河南省');promptinfo();">
		<include file="public/header"/>
	<!-- Header End -->	

	<!-- 我的个人中心 -->
	<div class="shop_member_bd clearfix">
		<!-- 左边导航 -->
        <include file="public/left"/>
		<!-- 左边导航 End -->
		
		<!-- 右边购物列表 -->
		<div class="shop_member_bd_right clearfix">
			
			<div class="shop_meber_bd_good_lists clearfix">
				<div class="title"><h3>管理收货地址<a style="float:right;" href="javasrcipt:void(0);" id="new_add_shdz_btn">新增收货地址</a></h3></div>
				<div class="clear"></div>
			<!-- 收货人地址 Title End -->
			<div class="shop_bd_shdz clearfix">
				<div class="shop_bd_shdz_lists clearfix">
					<ul>
                        <volist name="list" id="address">
                            <li><em>{$address.address1}></em><em>{$address.address2}</em><em>邮编{$address.post}</em><em>{$address.recever}(收)</em><em>{$address.mobile}</em><span class="admin_shdz_btn"><a href="{:U('Home/Address/edit',array('id'=>$address['id']))}">编辑</a><a  href="javascript:del({$address['id']});" >删除</a><a  href="javascript:defa({$address['id']});" >{$address['isdefault']==0?'设为默认':'默认地址'}</a></span></li>
                        </volist>

					</ul>
				</div>
				<!-- 新增收货地址 -->
				<div id="new_add_shdz_contents" style="display:none;" class="shop_bd_shdz_new clearfix">
					<div class="title">新增收货地址</div>
					<div class="shdz_new_form">
						<form action="{:U('Home/Address/addeidt')}" name="form" id="form" method="post" >
							<ul>

								<li><label for="name"><span>*</span>收货人姓名：</label><input name="recever" id="name" type="text" class="name" /></li>
                                <li><label for="address">所在地址:</label>
                                    <!--<select class="select" name="province" id="s1">
                                        <option></option>
                                    </select>
                                    <select class="select"  name="city" id="s2">
                                        <option></option>
                                    </select>
                                    <select class="select" name="town"  id="s3">
                                        <option></option>
                                    </select>
                                    <input id="address" name="address1" type="hidden" value="" />-->
                                    <select class="select" name="province" id="s1">
                                        <option></option>
                                    </select>
                                    <select class="select" name="city" id="s2">
                                        <option></option>
                                    </select>
                                    <select class="select" name="town" id="s3" onchange="promptinfo();">
                                        <option></option>
                                    </select>
                                    <input id="address" name="address1" type="hidden" value="" />
                                </li>
								<li><label for=""><span>*</span>详细地址：</label><input name="address2" type="text" class="xiangxi" /></li>
								<li><label for=""><span></span>邮政编码：</label><input name="post" type="text" class="youbian" /></li>
								<li><label for=""><span></span>电话：</label><input name="mobile" type="text" class="dianhua" /></li>
								<li><label for="">&nbsp;</label><input id="submit" type="button" value="增加收货地址" /></li>
							</ul>
						</from>
					</div>
				</div>
				<!-- 新增收货地址 End -->
			</div>
			<div class="clear"></div>
			</div>
		</div>
		<!-- 右边购物列表 End -->

	</div>
	<!-- 我的个人中心 End -->

	<!-- Footer - wll - 2013/3/24 -->
	<include file="public/footer">
	<!-- Footer End -->
	<script type="text/javascript">
	jQuery(function(){
		jQuery("#new_add_shdz_btn").toggle(function(){
			jQuery("#new_add_shdz_contents").show(500);
		},function(){
			jQuery("#new_add_shdz_contents").hide(500);
		});
	});

    function promptinfo()
    {
        var address = document.getElementById('address');
        var s1 = document.getElementById('s1');
        var s2 = document.getElementById('s2');
        var s3 = document.getElementById('s3');
        address.value = s1.value + s2.value + s3.value;
    }


	</script>
        <script src="__STATIC__/js/jquery-1.8.2.js"></script>
        <script src="__STATIC__/js/jquery.validate.min.js"></script>
        <script src="__STATIC__/layer/layer.js"></script>
        <script>
            //删除操作
            function del(id) {
                layer.confirm('您是真的要删除吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.post("{:U('Home/Address/del')}", {'id': id}, function (res) {
                        if (res.status == 'ok') {
                            layer.alert(res.msg, {
                                yes:function(){
                                    location.href="{:U('Home/Address/address')}";
                                }
                            });
                        } else {
                            layer.alert(res.msg);
                        }
                        ;
                    })
                })
            }
            //设为默认操作
            function defa(id) {
                    $.post("{:U('Home/Address/defa')}", {'id': id}, function (res) {
                        if (res.status == 'ok') {
                            layer.alert(res.msg, {
                                yes:function(){
                                    location.href="{:U('Home/Address/address')}";
                                }
                            });
                        } else {
                            layer.alert(res.msg);
                        }
                        ;
                    })
                }
            //添加地址操作
            $(function(){
                var validate=$('#form').validate({
                    //设置验证规则
                    rules:{
                        recever:{
                            required:true,
                            minlength:2,
                            maxlength:15
                        },
                        address1:{
                            required:true,
                            minlength:5,
                            maxlength:20
                        },

                        address2:{
                            required:true
                        },
                        post:{
                            required:true,
                            isZipCode:true
                        },
                        mobile:{
                            required:true,
                            call:true
                        }

                    },
                    messages:{
                        recever:{
                            required:'收货人姓名不能为空',
                            minlength:'收货人姓名至少需要2个字符',
                            maxlength:'收货人姓名最多15个字符'
                        },
                        address1:{
                            required:'所在地址不能为空',
                            minlength:'所在地址至少5个字符',
                            maxlength:'所在地址最多20个字符'
                        },

                        address2:{
                            required:'所在地不能为空'
                        },
                        post:{
                            required:'邮编不能为空',
                            isZipCode:'邮编格式不正确'
                        },
                        mobile:{
                            required:'手机号码不能为空',
                            call:'手机号码格式不正确'
                        }

                    },
                    /*            success: function(label) {
                     label.addClass("ok");
                     },
                     validClass: "ok",*/
                    errorElement:'div',
                    errorPlacement: function(error, element) {
                        error.appendTo( element.parent());
                    }

                })
                //自定义验证手机号码
                jQuery.validator.addMethod('call',function(value,elevent){
                    var callreg=/^[1]{1}[3578]{1}\d{9}$/;
                    return this.optional(elevent) || (callreg.test(value))},"请正确的填写手机号码");
                //自定义验证邮箱
                jQuery.validator.addMethod("isZipCode", function(value, element) {
                    var tel = /^[0-9]{6}$/;
                    return this.optional(element) || (tel.test(value));
                }, "请正确填写您的邮政编码");
                jQuery.validator.onfocus=true;

                $('#submit').click(function(){
                    if(validate.form()){
                        $.post("{:U('Home/Address/addeidt')}",$('#form').serialize(),function(res){
                            if(res.status=='ok'){
                                layer.alert(res.msg,{
                                    yes:function(){
                                        location.href="{$Think.server.HTTP_REFERER}";
                                    }
                                });
                            }else{
                                layer.alert(res.msg);
                            };
                        })
                    }

                })

            })

        </script>
</body>
</html>