@charset "utf-8";

/*顶部导航 样式开始*/
.top{height:34px; border-bottom: 1px solid #dbdbdb; background:#f2f2f2;}
.top p{line-height: 35px;font-size: 14px; float: left;}
.top ul li{float: left; line-height: 35px; margin-right: 10px; }
.top ul li a{margin-right: 10px;}
.top ul li a:hover{color: #cc0001;}
.top ul li span{color: #cc0001;}
/*导航搜索栏*/

.nav  .navCont .classify .menu{width:185px;  background:#eee;position: absolute; top:0 left:0;display: none;z-index: 99999;}
.nav  .navCont .classify:hover .menu{display: block;}


/*内容开始*/
.active{border-bottom:2px solid #cc0001;}
.cont{width:100%;height:auto;min-width: 1200px;}
.cont .cont_bg{width:1200px;margin:0 auto;position: relative;} 
.cont .cont_bg .sidebar{font-size: 14px;width:150px;height:655px;background-color: #f1f1f1;border:1px solid #d6d6d6;display: inline-block;}
.cont .cont_bg .sidebar .touxiang{height:160px;/*border:1px solid #d6d6d6;*/}
.cont .cont_bg .sidebar img{padding:10px 0px 0 0px;width: 100px;height: 100px;border-radius: 999px}
.cont .cont_bg .sidebar .touxiang p{line-height:0px;}
.cont .cont_bg .sidebar li{text-align:center;border-bottom:1px solid #d6d6d6;line-height:49px;}

.cont .cont_bg .sidebar li a{color:#343434;}
.cont .cont_bg .sidebar li:hover a{color:#fff;/*background-color:#fff;*/}
.cont .cont_bg .sidebar li:hover{background-color: #cc0001;}
.cont .cont_bg .sidebar .gongneng:hover a{color:#343434;}
.cont .cont_bg .sidebar .gongneng:hover,.cont .cont_bg .sidebar .touxiang:hover{background-color: #f1f1f1;}
.cont .cont_bg .sidebar .kefu{line-height: 44px;}
.cont .cont_bg .news{width:980px; height:600px;position:absolute;top:0;left:200px;overflow: hidden;}
.cont .cont_bg .news ul li{font-size:16px;float:left;margin-left:35px;padding:20px 0 15px 0px;}
.cont .cont_bg .news ul li:hover{padding:18px 0 15px 0px;}
.cont .cont_bg .news ul li a{color:#343434;}

.cont .cont_bg .news h4{font-size: 18px;text-align: center;padding-top: 50px;font-weight: normal;padding-bottom:80px;padding-right:80px; }
.cont .cont_bg .news h4 span{color:#cc0001;font-size: 14px;padding-left: 20px;}
.cont .cont_bg .news .text{border:1px solid #d6d6d6;height:610px;}
.cont .cont_bg .news .text .text_p{font-size:14px;padding-top:50px;padding-left:108px;} 
.cont .cont_bg .news .text form{margin-left:108px;padding-top:27px;font-size:14px;}
.cont .cont_bg .news .text form .form1{width:250px;height:30px;margin-bottom:28px;}
.cont .cont_bg .news .text02{border:1px solid #d6d6d6;height:410px;padding-top: 50px;padding-bottom: 68px;}
.cont .cont_bg .news .text form select{height:30px;margin-top: 30px;}
.cont .cont_bg .news .text form select .num{border:1px solid #999;font-size:12px;}
.cont .cont_bg .news .text form .tel{width:250px;height:30px;}
.cont .cont_bg .news .text form .e_mail{width:250px;height:30px;}
.cont .cont_bg .news .text h2{font-size:24px;width:213px;height:41px;background:#cc0001;color:#fff;text-align:center;line-height:40px;margin:0 auto;margin-top:67px;-webkit-transition:all 1s;}
.cont .cont_bg .news .text h2:hover{background:#e61f20;cursor:pointer;}
.cont .cont_bg .news .text{position:relative;top:0px;left:0px;}
.cont .cont_bg .news .text .file img{position:absolute;top:35px;left:705px;width: 130px;height: 130px;border-radius: 999px}
.cont .cont_bg .news .text .file .file_p1{position:absolute;top:180px;left:710px;padding:0;display: block;  width:60px;  height:23px;  line-height:23px;  margin:10px;  padding:5px 15px;  border:1px solid #ccc;  border-radius:5px;  background: #ffbef6;  font-size:13px;  text-align:center;  color:#fff;}
.cont .cont_bg .news .text .file .file_p2{position:absolute;top:205px;left:680px;}

.cont .cont_bg .news input{padding-left: 10px;}
.cont .cont_bg .news .text02 a{color:#343434;}
.gwc_tb1{padding-top:45px;padding-bottom: 5px;border-bottom: 1px solid #d6d6d6;width:980px;}
.cont .cont_bg .news .text02 p{font-size: 14px;padding-right: 380px;text-align: right;}
.cont .cont_bg .news .text02 input{height:30px;width:170px;padding-left:10px;}
.cont .cont_bg .news p.xiugai{width:150px;height:35px; background-color: #cc0001;-webkit-transition:all 1s;padding:0;text-align: center;font-size: 18px;line-height: 35px;margin:0 auto;margin-top: 65px;}
.cont .cont_bg .news p.xiugai:hover{background:#f00;color:#fff;}
.cont .cont_bg .news p.xiugai a{color:#fff;}
/*底部开始*/
.footer{margin-top: 100px;}

.no{
    background: #cc0001;
}
.no>a {
    color: #fff;
}