.content2{
    padding-top: 90px;
    width: 1200px;
    height: 300px;
    margin:0 auto;
    padding-bottom: 10px;

}
.bottom_page{
    text-align: center;
    padding-top: 90px;
    width: 1200px;
    height: 100px;
    margin:0 auto;
}
.content2 .teaimg{
    width: 300px;
    height: 300px;
    float: left;

}
.maincontent1{

    padding-left: 50px;
    margin: 0;
    width: 850px;
    height: 300px;
    margin-left: 300px;

}
.maincontent1 .title{
    text-align: center;
}

.maincontent1 .descript{
    height: 200px;
}


.bottom_page a,.bottom_page span{
    display: inline-block;
    width:18px;
    height:18px ;
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    background: #f0ead8;
    color:#000000;
    border: 1px solid #c2d2d7;
}
.bottom_page a:hover{
    background: #ffffff;
    color:#000000;
}
.bottom_page span{
    background: #ccc;
    color: #fff;
    font-weight: bold;
}
