@charset "utf-8";
/* CSS Document */


/*1 在线商城*/
.title1 h3{ float:left; font-size:15px; color:#000;}
.title1 h3 span{ font-size:24px; color:#AB5200;}
.title1 ul{ float:right;}
.title1 li{ float:left; margin:0 8px;}
.title1 li a{ display:inline-block; font-size:14px; color:#717171;}
.title1 li a:hover{ color:#F09E0B;}
.ma-con{ height:537px; margin-top:10px; border:1px solid #ECECEC;overflow:hidden;}
.ma-con .ma-con-l{ width:250px;border-right:1px solid #ECECEC;}
.ma-con .ma-con-l .ma-l-t{ height:383px; overflow:hidden;}
.ma-con .ma-con-l .ma-l-b{ height:154px;text-align:center;overflow:hidden;}
.ma-con .ma-con-l .ma-l-b a{ display:inline-block; height:35px; line-height:35px; font-size:14px; color:#000; margin:0 5px;}
.ma-con .ma-con-r{ width:947px;}
.ma-con .ma-con-r li{ float:left; width:236px; height:268px;border-right:1px solid #ECECEC;border-bottom:1px solid #ECECEC;}
.ma-con .ma-con-r li h3{ font-weight:normal; text-align:center; margin-top:10px;}
.ma-con .ma-con-r li h3 a{ font-size:18px; color:#3f3f3f;}
.ma-con .ma-con-r li p{ text-align:center;}
.ma-con .ma-con-r li p a{ font-size:14px; color:#3f3f3f;}
.ma-con .ma-con-r li img{ display:block; margin:15px auto 0;}


/*2 餐饮娱乐*/
.dining{}
.din-con{ height:547px; margin-top:10px;border:1px solid #ECECEC;}
.din-con .lin-l{ width:245px; height:547px;border-right:1px solid #ECECEC;}
.din-con .lin-l .lin-l-t{ height:348px; padding-top:36px; border-bottom:1px solid #ECECEC;}
.din-con .lin-l .lin-l-t img{ margin:0 auto;}
.din-con .lin-l .lin-l-b{ height:162px;text-align:center;overflow:hidden;}
.din-con .lin-l .lin-l-b a{ display:inline-block; height:35px; line-height:35px; font-size:14px; color:#000; margin:0 12px;}
.din-con .lin-m{ width:388px; height:547px;border-right:1px solid #ECECEC;}
.din-con .lin-m dl{ width:388px; height:181px;border-bottom:1px solid #ECECEC;}
.din-con .lin-m dl dt{ margin:33px 11px 0 9px;}
.din-con .lin-m dl dd{text-align:center; padding-top:44px}
.din-con .lin-m dl dd h3{  font-weight:normal; margin-bottom:5px;}
.din-con .lin-m dl dd h3 a{ font-size:14px; color:#F8771F;}
.din-con .lin-m dl dd .p1{ font-size:14px; color:#575757; margin-bottom:5px;}
.din-con .lin-m dl dd .p2{ font-size:13px; color:#3F3F3F;}
.din-con .lin-m dl dd .p2 span{ font-size:24px; color:#F12D43;}
.din-con .lin-r{ width:563px; height:547px;}
.din-con .lin-r dl{ width:281px; height:136px;border-bottom:1px solid #ECECEC;border-right:1px solid #ECECEC; float:left;}
.din-con .lin-r dl dt{ margin:7px 38px 0 20px;}
.din-con .lin-r dl dd{text-align:center; padding-top:35px}
.din-con .lin-r dl dd h3{  font-weight:normal; margin-bottom:5px;}
.din-con .lin-r dl dd h3 a{ font-size:14px; color:#F8771F;}
.din-con .lin-r dl dd p{font-size:14px; color:#575757;}
.din-con .lin-r dl dd .p1{  margin-bottom:5px;}


/*3 家政服务*/
.sv-con{ margin-top:10px; height:445px;}
.sv-con .sv-con-l{ width:247px;height:403px;border:1px solid #ECECEC;}
.sv-con .sv-con-l .sv-l-t{ height:222px;border-bottom:1px solid #ECECEC;text-align:center;}
.sv-con .sv-con-l .sv-l-t p{ font-size:14px; color:#000; margin-bottom:10px;}
.sv-con .sv-con-l .sv-l-t img{ margin:0 auto;}
.sv-con .sv-con-l .sv-l-b{ height:178px;}
.sv-con .sv-con-l .sv-l-b .leiming{ float:left;padding:5px 13px;position:relative;}
.sv-con .sv-con-l .sv-l-b .leiming .lm{font-size:14px; color:#000;}
.sv-con .sv-con-l .sv-l-b .leiming a:hover{ color:#DA2727; text-decoration:underline;}
.sv-l-b .leiming .sv-b-show{width:431px;background:#fff;box-shadow:0px 0px 7px #808080;position:absolute;top:30px;left:0;z-index:1; display:none;}
.sv-l-b .leiming .sv-b-show dl{ margin:10px 15px; width:185px; float:left;}
.sv-l-b .leiming .sv-b-show dt{font-size:14px; font-weight:bold; color:#121212;}
.sv-l-b .leiming .sv-b-show dd{}
.sv-l-b .leiming .sv-b-show dd a{ font-size:12px; color:#121212; margin-right:5px;}



.sv-con .sv-con-r{ width:939px;}
.sv-con .sv-con-r li{ float:left; width:304px; height:216px; overflow:hidden; border:1px solid #ECECEC; margin:0 10px 8px 0;}
.sv-con .sv-con-r li a{ display:block; margin-bottom:5px;}
.sv-con .sv-con-r li p{ font-size:14px; color:#8A8A8A; padding:0 15px;}
.sv-con .sv-con-r li p img{ display:inline-block;}


/*美容美发*/
.sa-con{ height:350px; border:1px solid #ECECEC; margin-top:5px; width:1198px; border-top:2px solid #000;}
.sa-con .sa-con-l{  height:350px;}
.sa-con .sa-con-l li{ float:left; margin-bottom:9px; width:235px;border-right:1px solid #ececec; height:348px; text-align: center;}
.sa-con .sa-con-l div{ margin-top:30px;}
.sa-con .sa-con-l .sa-l-t{ height:452px; border-bottom:1px solid #ececec;overflow:hidden;}
.sa-con .sa-con-l .sa-l-b{ height:158px; text-align:center; padding:40px 0 0 40px;}
.sa-con .sa-con-l .sa-l-b a{ display:inline-block; width:100px; height:35px; text-align:left; line-height:35px; /*font-size:14px;*/ color:#000; margin:0 6px;}
.sa-con .sa-con-r{ width:490px; height:350px;}
.sa-con .sa-con-r li{ float:left;width:244px;height:176px;border-right:1px solid #ececec;border-bottom:1px solid #ececec;/*text-align:center;*/}
/*.sa-con .sa-con-r li:nth-child(1){;width:240px;}*/
.sa-con .sa-con-r li:nth-child(2){ border-right:0}
.sa-con .sa-con-r li:nth-child(3){ border-bottom:0;}
.sa-con .sa-con-r li:nth-child(4){ border-right:0;border-bottom: 0;}
/*.sa-con .sa-con-r li{ float:left;width:244px;height:154px;border-right:1px solid #ececec;border-bottom:1px solid #ececec;text-align:center; margin-bottom:9px;}*/
.sa-con .sa-con-r li img{ margin:16px 34px 15px 110px;}
.sa-con  li h3{ font-weight:normal;  font-size:14px; color:#000; padding-left:20px;}
.sa-con .sa-con-r li h3.sp1{color:#FF5160; font-weight: bold;}
.sa-con .sa-con-r li .ck{ width:235px; display:inline-block; text-align:left;font-size:14px; color:#676767;}
.sa-con .sa-con-r li p{ width:235px; margin:0 auto;}
.sa-con .sa-con-r li .ck:hover{color:#F09E0B;}
.sa-con .sa-con-r li p .sp1{ float:left; font-size:16px; color:#F12D43;}
.sa-con .sa-con-r li p .sp2{ float:right; font-size:14px; color:#676767; text-decoration:line-through;}
.sa-con .sa-con-r .li-ys{width:244px; position:relative;}
.sa-con .sa-con-r .li-ys h3{ margin-top:30px;}
.sa-con .sa-con-r .li-ys span{ width:235px; text-align:left; margin:0 auto; display:block;}
.sa-con li h3.sp1{font-size:16px; color:#FF5160; font-weight: bold;}
.sa-con .sa-con-r .li-ys .sp2{font-size:14px; color:#676767; text-decoration:line-through;}
.sa-con .sa-con-r .li-ys .li-tu{position:absolute; bottom:10px; right:10px;}


/*教育培训*/
.ed-con{ margin-top:10px;}
.ed-con .ed-con-l{ width:272px; height:540px; border:1px solid #ececec;}
.ed-con .ed-con-l .ed-l-t{ height:379px; border-bottom:1px solid #ececec;}
.ed-con .ed-con-l .ed-l-b{ height:131px; padding-top:30px;}
.ed-con .ed-con-r{ width:926px; height:542px;}
.ed-con .ed-con-r li{ float:left; width:296px; height:265px; overflow:hidden; border:1px solid #ECECEC; margin:0 0 8px 10px;}
.ed-con .ed-con-r li a{ display:block; margin-bottom:5px;}
.ed-con .ed-con-r li p{ font-size:14px; color:#8A8A8A; padding:0 15px;}
.ed-con .ed-con-r li p img{ display:inline-block;}


.ed-con .ed-con-l .ed-l-b .leiming{ float:left;margin: 5px 13px;position:relative;}
.ed-con .ed-con-l .ed-l-b .leiming .lm{font-size:14px; color:#000;}
.ed-con .ed-con-l .ed-l-b .leiming a:hover{ color:#DA2727; text-decoration:underline;}
.ed-l-b .leiming .sv-b-show{width:431px;background:#fff;box-shadow:0px 0px 7px #808080;position:absolute;top:23px;left:0;z-index:1; display:none;}
.ed-l-b .leiming .sv-b-show dl{ margin:10px 15px; width:185px; float:left;}
.ed-l-b .leiming .sv-b-show dt{font-size:14px; font-weight:bold; color:#121212;}
.ed-l-b .leiming .sv-b-show dd{}
.ed-l-b .leiming .sv-b-show dd a{ font-size:12px; color:#121212; margin-right:5px;}


/*汽车房产*/
.prt-con{ margin-top:10px;}
.prt-con .prt-con-l{ width:290px; height:522px; border:1px solid #ececec;}
.prt-con .prt-con-l .prt-l-t{ height:366px; border-bottom:1px solid #ececec; overflow:hidden;}
.prt-con .prt-con-l .prt-l-b{ height:156px;text-align:center;}
.prt-con .prt-con-l .prt-l-b a{display:inline-block; height:30px; text-align:left; line-height:30px; font-size:14px; color:#000; margin:0 6px;}
.prt-con .prt-con-r{ width:908px; height:524px;}
.prt-con .prt-con-r li{ float:left; width:206px; height:238px; margin:0 0 24px 21px;}
.prt-con .prt-con-r li h3{ font-weight:normal; margin:5px 0;}
.prt-con .prt-con-r li h3 .sp1{ float:left; font-size:15px; color:#000;}
.prt-con .prt-con-r li h3 .sp2{ float:right; font-size:14px; color:#595959;}
.prt-con .prt-con-r li .prt-tit{ font-size:14px;color:#595959;}
.prt-con .prt-con-r li .prt-tit:hover{color:#F09E0B;}
.prt-con .prt-con-r li p{ font-size:16px; color:#F12D44;}


/*家居建材*/
.hm-con{width:1198px; height:443px; border:1px solid #ececec; margin-top:10px;}
.hm-con .hm-con-l{ width:233px; height:443px; border-right:1px solid #ececec;}
.hm-con-l .hm-l-t{ height:291px; border-bottom:1px solid #ececec; overflow:hidden;}
.hm-con-l .hm-l-b{ height:131px; text-align:center; padding-top:20px;}
.hm-con-l .hm-l-b a{display:inline-block; height:30px; text-align:left; line-height:30px; font-size:14px; color:#000; margin:0 6px;}
.hm-con .hm-con-m{ width:695px; height:443px; border-right:1px solid #ececec;}
.hm-con-m .hm-m-t{height:291px; border-bottom:1px solid #ececec;}
.hm-con-m .hm-m-t li{ width:231px; height:258px; padding-top:33px; float:left; border-right:1px solid #ececec;}
.hm-con-m .hm-m-t li img{ display:block; margin:0 auto 11px;}
.hm-con-m .hm-m-t li .p1{ margin:0 17px; font-size:14px; color:#3F3F3F;}
.hm-con-m .hm-m-t li .hm-tit{ margin:0 18px; font-size:14px; color:#3F3F3F;}
.hm-con-m .hm-m-t li .p2{ font-size:18px; color:#F12D43; margin:0 18px;}
.hm-con-m .hm-m-b{ height:151px;}
.hm-con-m .hm-m-b dl{ width:347px; height:151px; border-right:1px solid #ececec; float:left;}
.hm-con-m .hm-m-b dt{ float:left; margin:20px 16px 0 8px;}
.hm-con-m .hm-m-b dd{ float:left; width:153px; margin-top:23px;}
.hm-con-m .hm-m-b dd .p1{ font-size:14px; color:#3F3F3F; margin-bottom:10px;}
.hm-con-m .hm-m-b dd .p2{ font-size:18px; color:#F12D43;}

.hm-con .hm-con-r{ width:268px; height:443px;}
.hm-con-r dl{ height:221px; border-bottom:1px solid #ececec;}
.hm-con-r dt{ float:left; margin:23px 6px 0 4px;}
.hm-con-r dd{ float:left; width:150px; margin-top:39px;}
.hm-con-r dd a{ font-size:14px; color:#3F3F3F;}
.hm-con-r dd .p1{ font-size:14px; color:#7E7E7E;}
.hm-con-r dd .p2{ font-size:18px; color:#F12D43;}


/*二手市场*/
.mk-con{ height:577px; border:1px solid #ececec; margin-top:10px;}
.mk-con-l{ width:313px; height:577px; border-right:1px solid #ececec;}
.mk-con-l .mk-l-t{width:313px;height:370px; border-bottom:1px solid #ececec;}
.mk-con-l .mk-l-b{width:313px; height:196px; padding-top:10px;text-align:center; }
.mk-con-l .mk-l-b a{display:inline-block; height:30px; text-align:left; line-height:30px; font-size:14px; color:#000; margin:0 6px;}
.mk-con-m{ width:594px; height:577px; border-right:1px solid #ececec;}
.mk-con-m dl{width:305px;height:191px;border-bottom:1px solid #ececec;border-right:1px solid #ececec;float:left;}
.mk-con-m dt{ float:left; margin:50px 0 0 6px;}
.mk-con-m dd{ float:left; margin-top:24px; text-align:right;}
.mk-con-m dd .p1{ font-size:14px; color:#000; margin-bottom:5px;}
.mk-con-m dd a{ font-size:14px; color:#2ED2CC; margin-bottom:10px;}
.mk-con-m dd .p2{ font-size:13px; color:#3F3F3F;}
.mk-con-m dd .p2 span{ font-size:24px; color:#F12D43;}

.mk-con-r{ width:289px; height:577px; background-color:#F8F8F8;}
.mk-con-r dl{width:289px;height:143px;border-bottom:1px solid #ececec;}
.mk-con-r dt{ float:right; margin:22px 12px 0 0;}
.mk-con-r dd{ float:left; margin:24px 0 0 8px;}
.mk-con-r dd .p1{ font-size:14px; color:#000; margin-bottom:5px;}
.mk-con-r dd a{ font-size:14px; color:#2ED2CC; margin-bottom:10px;}
.mk-con-r dd .p2{ font-size:13px; color:#3F3F3F;}
.mk-con-r dd .p2 span{ font-size:24px; color:#F12D43;}

/*购物车*/
@CHARSET "UTF-8";
.J-global-toolbar div a {
    margin: 0px;
    padding: 0px;
    font: 12px/150% Arial,Verdana,"宋体";
    color: #666;
}
.toolbar-wrap {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9990;
    width: 35px;
    height: 100%;

}
.toolbar-wrap a {
    text-decoration: none;
}
.toolbar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 29px;
    height: 100%;
    border-right: 6px solid #7A6E6E;
}
.toolbar-panels {
    position: absolute;
    left: 35px;
    top: 0px;
    width: 270px;
    height: 100%;
    z-index: 2;
    background: #ECEAEA none repeat scroll 0% 0%;
}
.toolbar-panel {
    width: 270px;
    height: 100%;
    position: absolute;
    background: #ECEAEA none repeat scroll 0% 0%;
}
.tbar-panel-header {
    position: relative;
    width: 270px;
    height: 40px;
    line-height: 40px;
    background: #ECEAEA none repeat scroll 0% 0%;
    font-family: "microsoft yahei";
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.tbar-panel-header .title {
    display: inline-block;
    height: 40px;
    color: #5E5050;
    font: 16px/40px "微软雅黑";
}
.tbar-panel-cart .tbar-panel-header i {
    width: 20px;
    height: 18px;
    background-position: 0px 0px;
    margin-top: 11px;
}
.tbar-panel-header i {
    margin-right: 4px;
    margin-left: 10px;
    vertical-align: top;
}
.tbar-panel-header i, .tbar-panel-header .close-panel{
    display: inline-block;
    font-style: normal;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;

}
.tbar-panel-header .title em {
    display: inline-block;
    vertical-align: top;
}
.tbar-panel-header .close-panel {
    width: 12px;
    height: 12px;
    background-position: 0px -250px;
    position: absolute;
    right: 8px;
    top: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-out 0s;
}
.tbar-panel-main {
    position: relative;
    margin: 0px;
    padding: 0px;
    font: 12px/150% Arial,Verdana,"宋体";
    color: #666;
}
.tbar-tipbox{
    display: block;
}
.tbar-panel-content {
    width: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.tbar-tipbox .tip-inner {
    padding: 6px 5px;
    border: 1px solid #EDD28B;
    background: #FFFDEE none repeat scroll 0% 0%;
    text-align: center;
}
.tbar-tipbox .tip-text {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    color: #333;
}
.tbar-tipbox .tip-btn {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0px 5px;
    margin-left: 5px;
    color: #FFF;
    vertical-align: middle;
    background: #C81623 none repeat scroll 0% 0%;
}

.tbar-panel-cart .tbar-panel-footer {
    height: 50px;
    background-color: #ECEAEA;
    margin: 0px;
    padding: 0px;
}
.tbar-checkout {
    height: 40px;
    padding: 5px 110px 5px 5px;
    position: relative;
}

.tbar-checkout .jtc-number strong {
    font-family: verdana;
    color: #C81623;
}
.tbar-checkout .jtc-number {
    line-height: 20px;
    font: 12px/150% Arial,Verdana,"宋体";
    color: #666;
}
.tbar-checkout .jtc-sum {
    line-height: 20px;
    font: 12px/150% Arial,Verdana,"宋体";
    color: #666;
}
.tbar-checkout .jtc-sum strong {
    font-family: verdana;
    color: #C81623;
}
.tbar-checkout .jtc-btn {
    position: absolute;
    right: 5px;
    top: 7px;
    width: 110px;
    height: 35px;
    font: 16px/35px "微软雅黑";
    text-align: center;
    background: #C81623 none repeat scroll 0% 0%;
    color: #FFF;
}
.tbar-cart-list{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font: 12px/150% Arial,Verdana,"宋体";
    color: #666;
}
.tbar-cart-item {
    padding: 0px 5px;
    margin-bottom: 10px;
    background: #FFF none repeat scroll 0% 0%;
}
.jtc-item-promo {
    padding: 12px 0px 12px 57px;
    border-bottom: 1px dashed #E1E1E1;
}
.jtc-item-promo .promo-tag {
    position: relative;
    float: left;
    width: 40px;
    height: 20px;
    margin-top: -1px;
    margin-left: -57px;
    margin-right: 17px;
    text-align: center;
    font: 12px/20px "宋体";
    color: #FFF;
    background-color: #F58813;
}
.jtc-item-promo .promo-text {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 12px/18px verdana;
}
.jtc-item-goods {
    padding: 10px 0px;
    position: relative;
    overflow: hidden;
}
.jtc-item-goods .p-img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #DDD;
    padding: 0px;
    margin-right: 5px;
}
.jtc-item-goods .p-img img {
    width: 50px;
    height: 50px;
}
img {
    border: 0px none;
    vertical-align: middle;
}
.jtc-item-goods .p-name {
    height: 32px;
    line-height: 16px;
    margin-bottom: 4px;
    overflow: hidden;
}
.jtc-item-goods .p-name a {
    color: #333;
}
.jtc-item-goods .p-price {
    height: 16px;
    padding-right: 65px;
    overflow: hidden;
    font: 12px/16px verdana;
    color: #666;
}
.jtc-item-goods .p-price strong {
    color: #C81623;
    font-weight: normal;
}
.jtc-item-goods .p-del {
    position: absolute;
    right: 10px;
    top: 46px;
    width: 35px;
    height: 16px;
    line-height: 16px;
    color: #005AA0;
    text-align: right;
    display: none;
}
.tbar-panel-history div{
    padding: 0px;
}
.jt-history-wrap {
    width: 235px;
    margin: 0px auto;
}
.tbar-panel-history ul {
    overflow: hidden;
    margin-right: -15px;
    margin-top:0px;
    list-style: outside none none;
    padding: 0px;
}
.tbar-panel-history .tbar-panel-header i {
    width: 20px;
    height: 17px;
    margin-top: 11px;
    background-position: 0px -100px;
}

.tbar-panel-follow .tbar-panel-header i {
    width: 20px;
    height: 17px;
    margin-top: 11px;
    background-position: 0px -50px;
}
.tbar-panel-history .jth-item {
    float: left;
    position: relative;
    width: 100px;
    height: 120px;
    margin-right: 15px;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 15px;
    padding: 5px;
}
.tbar-panel-history .jth-item .img-wrap {
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
}

.tbar-panel-history .jth-item .add-cart-button {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    display: none;
    position: absolute;
    width: 100px;
    bottom: 25px;
    left: 5px;
    z-index: 3;
    color: #FFF;
    background: rgba(28, 25, 28, 0.8) none repeat scroll 0% 0%;
}
.tbar-panel-history .jth-item .price {
    color: #C81623;
}
.tbar-panel-history .history-bottom-more {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: "宋体";
    color: #666;
}
/*-----  */


.toolbar-header {
    position: absolute;
    top: 0px;
    right: -6px;
}
.toolbar-tabs {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 35px;
    margin-top: -61px;
}
.toolbar-tab {
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7A6E6E;
    border-radius: 3px 0px 0px 3px;
    font: 12px/150% Arial,Verdana,"宋体";
    color: #666;
    display: inline-block;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
}
.tbar-tab-cart{
    background-position: -50px 0px;
}
.tbar-tab-follow{
    background-position: -50px -50px;
}
.tbar-tab-history{
    background-position: -50px -100px;
}
.tab-ico {
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
    z-index: 2;
    background-color: #7A6E6E;
}
.tab-text {
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    text-align: center;
    font-family: "微软雅黑";
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0px;
    background-color: #7A6E6E;
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    cursor: pointer;

}
.tab-sub {
    position: absolute;
    z-index: 3;
    right: 2px;
    top: -5px;
    height: 11px;
    padding: 1px 2px;
    border: 1px solid #B61D1D;
    overflow: hidden;
    color: #FFF;
    font: 11px/11px verdana;
    text-align: center;
    min-width: 11px;
    border-radius: 10px;
    background-color: #CC6060;
    background-image: linear-gradient(to bottom, #CC6060 0px, #B61D1D 100%);
}
.hide{
    display:none;;
}
.toolbar-footer {
    position: absolute;
    bottom: -1px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font: 12px/150% Arial,Verdana,"宋体";
    color: #666;
}

.tbar-tab-top {
    background-position: -50px -250px;
}
.tbar-tab-feedback {
    background-position: -50px -300px;
}
.footer-tab-text {
    width: 50px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    text-align: center;
    font-family: "微软雅黑";
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0px;
    background-color: #7A6E6E;
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.tbar-tab-hover {
    left: -60px;
    background-color: #C81623;
}
.tbar-tab-footer-hover {
    left: -48px;
    background-color: #C81623;
}
.tbar-tab-selected {
    background-color: #C81623;
}
.tbar-tab-selected .tab-sub{
    color: #C81623;
    background-color: #FFF;
    background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}
.tbar-tab-click-selected{
    background-color: #C81623;
}
.tbar-tab-click-selected .tab-sub{
    color: #C81623;
    background-color: #FFF;
    background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}
.survey-tab-ico {
    display: none;
}
.survey-tab-text {
    left: 0px;
    width: 35px;
    height: 30px;
    padding: 2px 0px 3px;
    line-height: 15px;
    background: #C81623 none repeat scroll 0% 0%;
    color: #FFF;
    text-align: center;
    font-family: "微软雅黑";
    position: absolute;
    z-index: 1;
    top: 0px;
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
    font-style: normal;
    margin: 0px;
    cursor: pointer;
}
.toolbar-open  {
    right: 270px;
}

.J-close:hover{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}
.tbar-panel-history .jth-item .add-cart-button:hover{
    background: rgb(200, 22, 35) none repeat scroll 0% 0%;
}















