<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script type="text/javascript" src="__SKIN__/Home/js/geo.js"></script>
<body>
<form action="{:U('member/layer')}" method="post" name="form1" id="form1">
    <div id="main">
        <div id="addressList" class="mod-main mod-com">
            <div class="mt">
                <a onclick="alertAddAddressDiag()" class="e-btn add-btn btn-5" href="javascript:;">新增收货地址</a>
                <span class="ftx-03">"您已创建"<span id="addressNum_top" class="ftx-02">1</span>个收货地址,最多可创建"<span class="ftx-02">20</span>个</span>
            ::after
            </div>
            <div class="mc">
                <div class="sm easebuy-m" id="addressDiv-138404728"></div>
            </div>

        </div>
    </div>
</form>
</body>
</html>